
@import "screen";

#GameScreen {
	background-color: black;
	/*just for development*/
	z-index: 1000;
}

/*
Some of the views
*/
#BoardView {
	position: absolute;
	top: $tileSize * 2;
	background-color: $black;
}

#PieceSelection {
	position: absolute;
	top: $tileSize * .5;
	right: $tileSize * .5;
	width: auto;
	height: $tileSize;
}

#PieceSelection .PieceView {
	cursor: pointer;
	float: left;
	width: $tileSize;
	height: $tileSize;
	position: relative;
	background: none;
}

#PieceSelection .PieceView #PieceViewCanvas{
	@include topLeft;
}

@mixin radialGradient($color){
	background: -moz-radial-gradient(center, ellipse cover, $color 0%, $black 85%);
	background: -webkit-gradient(radial, center center, 0px, center center, 85%, color-stop(0%, $color), color-stop(85%,$black));
	background: -webkit-radial-gradient(center, ellipse cover, $color 0%, $black 85%);
	background: -o-radial-gradient(center, ellipse cover, $color 0%, $black 85%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, $color 0%,$black 85%); /* IE10+ */
	background: radial-gradient(ellipse at center, $color 0%, $black 85%); /* W3C */
}

#PieceSelection .PieceView.red.selected{
	@include radialGradient($red);
}

#PieceSelection .PieceView.green.selected {
	@include radialGradient($green);
}