#GameOverInterstitial {
	width: 100%;
	position: absolute;
	z-index: 10005;
	left: 0px;
	@include respond-to(iphone4){
		top: -70px;
		height: $iphone4Height + 70px;
	}
	@include respond-to(iphone5){
		top: 0px;
		height: 100%;
	}
}

@mixin gameOverInterBlocker {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: .3;	
	z-index: 0;
}

@mixin gameOverInterBackground {
	position: absolute;
	left: 0px;
	top: 0px;
	background-size: $screenWidth 600px;
	width: $screenWidth;
	height: 600px; 
	opacity: .65;
	z-index: -1;
}


@each $color in $colorStrings {
	#GameOverInterstitial.#{$color} #Blocker {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: .3;	
		z-index: 0;
		background-color: colorStringToValue($color);
	}

	#GameOverInterstitial.#{$color} #Background {
		background: url("../assets/images/popup/#{$color}.png");
		position: absolute;
		left: 0px;
		top: 0px;
		background-size: $screenWidth 600px;
		width: $screenWidth;
		height: 600px; 
		opacity: .65;
		z-index: -1;
	}
}

#GameOverInterstitial #Dialog {
	position: absolute;
	top: 100%;
	left: 0px;
	width: $screenWidth;
	height: 600px;
}

#GameOverInterstitial #Title {
	color: $white;
	@include biggerFont;
	position: absolute;
	top: 30px;
	width: 100%;
	left: 0px;
	text-align: center;
}

#GameOverInterstitial #Text {
	color: $white;
	font-family: $font-family;
	font-size: 16pt;
	font-weight: 300;
	position: absolute;
	width: $screenWidth - 40px;
	left: 20px;
	top: 300px;
	text-align: center;
}

#GameOverInterstitial #StarContainer {
	position: absolute;
	top: 165px;
	width: 100%;
	left: 0px;
	text-align: center;
}

#GameOverInterstitial #StarContainer i{
	color: $white;
	position: relative;
	font-size: 80px;
	margin-right: 4px;
}

@keyframes popOutScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes popOutScale {
	0% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

#GameOverInterstitial #StarContainer .FilledStar{
	-webkit-animation : popOutScale .5s linear;
	animation : popOutScale .5s linear;
}

#GameOverInterstitial #StarContainer .EmptyStar:before{
	content: "\f006";	
}

#GameOverInterstitial #StarContainer .FilledStar:before{
	content: "\f005";	
}

#GameOverInterstitial .GameOverInterstitialButton {
	position: absolute;
	@include respond-to(iphone4){
		top: 410px;
	}
	@include respond-to(iphone5){
		top: 428px;
	}
	cursor: pointer;
	@include buttonImage;
}

#GameOverInterstitial #Dialog #NextSong {
	background: url("../assets/images/icons/forward.png");	
	background-size: $buttonImageSize $buttonImageSize;
	right: 80px;
}

#GameOverInterstitial #Dialog #NextSong:after {
	content : "next part";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}

#GameOverInterstitial.SongCompleted #Dialog #NextSong:after {
	content : "next song";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}

#GameOverInterstitial.GameCompleted #Dialog #NextSong {
	display: none;
}

#GameOverInterstitial.GameCompleted #Dialog #PlayAgain {
	background: url("../assets/images/icons/back_circle.png");	
	@include buttonImage;
	left: 80px;
}

#GameOverInterstitial.GameCompleted #Dialog #PlayAgain:active {
	background: url("../assets/images/icons/back_circle_white.png");	
	@include buttonImage;
	left: 80px;
}

#GameOverInterstitial.GameCompleted #Dialog #PlayAgain:after {
	content : "parts";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}

#GameOverInterstitial #Dialog #NextSong:active {
	background: url("../assets/images/icons/forward_white.png");	
	background-size: $buttonImageSize $buttonImageSize;
}

#GameOverInterstitial.SongCompleted #Dialog #PlayAgain {
	background: url("../assets/images/icons/back_circle.png");	
	@include buttonImage;
	left: 80px;
}

#GameOverInterstitial.SongCompleted #Dialog #PlayAgain:active {
	background: url("../assets/images/icons/back_circle_white.png");	
	@include buttonImage;
	left: 80px;
}

#GameOverInterstitial.SongCompleted #Dialog #PlayAgain:after {
	content : "parts";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}


#GameOverInterstitial #Dialog #PlayAgain {
	background: url("../assets/images/icons/redo.png");	
	background-size: $buttonImageSize $buttonImageSize;
	left: 80px;
}

#GameOverInterstitial #Dialog #PlayAgain:after {
	content : "replay";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}

#GameOverInterstitial #Dialog #PlayAgain:active {
	background: url("../assets/images/icons/redo_white.png");	
	background-size: $buttonImageSize $buttonImageSize;
}

/*=============================================================================
	FAIL INTERSTITIAL
=============================================================================*/

#GameOverInterstitial.Fail #Text {
	color: $white;
	font-family: $font-family;
	font-size: 18pt;
	font-weight: 300;
	position: absolute;
	width: $screenWidth - 40px;
	left: 20px;
	top: 300px;
	text-align: center;
}

#GameOverInterstitial.Fail #BackToPart {
	background: url("../assets/images/icons/back_circle.png");	
	@include buttonImage;
	left: 80px;
}	

#GameOverInterstitial.Fail #BackToPart:active {
	background: url("../assets/images/icons/back_circle_white.png");	
	@include buttonImage;
	left: 80px;
}

#GameOverInterstitial #Dialog #BackToPart:after {
	content : "parts";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}

#GameOverInterstitial.Fail #TimeLeft {
	width: 100%;
	@include biggerFont;
	color: $white;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 200px;
}	

#GameOverInterstitial.Fail #TimeLeft:after {
	content : "time left";
	width: 100%;
	@include tinyFont;
	color: $white;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 50px;
}	

#GameOverInterstitial.Fail #Dialog #NextSong:after {
	content : "play";
	width: 100%;
	@include tinyFont;
	color: black;
	text-align: center;
	position: absolute;
	left: 0px;
	top: $buttonImageSize;
}