#GameOverInterstitial {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10005;
	overflow: hidden;
}

@mixin gameOverInterBlocker {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: .3;	
	z-index: 0;
}

@mixin gameOverInterBackground {
	position: absolute;
	left: 0px;
	top: 0px;
	background-size: $screenWidth 600px;
	width: $screenWidth;
	height: 600px; 
	opacity: .7;
	z-index: -1;
}


#GameOverInterstitial.blue #Blocker {
	@include gameOverInterBlocker;
	background-color: $blue;
}

#GameOverInterstitial.blue #Background {
	background: url("../assets/images/popup/blue.png");
	@include gameOverInterBackground;
}

#GameOverInterstitial.red #Blocker {
	@include gameOverInterBlocker;
	background-color: $red;
}

#GameOverInterstitial.red #Background {
	background: url("../assets/images/popup/red.png");
	@include gameOverInterBackground;
}

#GameOverInterstitial.green #Blocker {
	@include gameOverInterBlocker;
	background-color: $green;
}

#GameOverInterstitial.green #Background {
	background: url("../assets/images/popup/green.png");
	@include gameOverInterBackground;
}

#GameOverInterstitial.purple #Blocker {
	@include gameOverInterBlocker;
	background-color: $purple;
}

#GameOverInterstitial.purple #Background {
	background: url("../assets/images/popup/purple.png");
	@include gameOverInterBackground;
}

#GameOverInterstitial.pink #Blocker {
	@include gameOverInterBlocker;
	background-color: $pink;
}

#GameOverInterstitial.pink #Background {
	background: url("../assets/images/popup/pink.png");
	@include gameOverInterBackground;
}

#GameOverInterstitial.yellow #Blocker {
	@include gameOverInterBlocker;
	background-color: $yellow;
}

#GameOverInterstitial.yellow #Background {
	background: url("../assets/images/popup/yellow.png");
	@include gameOverInterBackground;
}


#GameOverInterstitial #Dialog {
	position: absolute;
	top: 100%;
	left: 0px;
	width: $screenWidth;
	height: 600px;
}

#GameOverInterstitial #Title {
	color: $white;
	@include biggerFont;
	position: absolute;
	top: 62px;
	width: 100%;
	left: 0px;
	text-align: center;
}

#GameOverInterstitial #Text {
	color: $white;
	@include smallThinFont;
	position: absolute;
	top: 400px;
	width: 100%;
	left: 0px;
	text-align: center;
	white-space: pre;
}

#GameOverInterstitial .GameOverInterstitialButton {
	position: absolute;
	top: 430px;
	cursor: pointer;
	@include buttonImage;
}

#GameOverInterstitial #Dialog #NextSong {
	background: url("../assets/images/icons/forward.png");	
	background-size: $buttonImageSize $buttonImageSize;
	right: 80px;
}

#GameOverInterstitial #Dialog #NextSong:active {
	background: url("../assets/images/icons/forward_white.png");	
	background-size: $buttonImageSize $buttonImageSize;
}

#GameOverInterstitial #Dialog #PlayAgain {
	background: url("../assets/images/icons/redo.png");	
	background-size: $buttonImageSize $buttonImageSize;
	left: 80px;
}

#GameOverInterstitial #Dialog #PlayAgain:active {
	background: url("../assets/images/icons/redo_white.png");	
	background-size: $buttonImageSize $buttonImageSize;
}
