#GameScreen {
	background-color: $screenBackground;
}

$gameScreenButtonSize : $tileSize * 2;

/*
Some of the views
*/
#BoardView {
	position: absolute;
	bottom: $gameScreenButtonSize + $tileSize;
	background-color: $black;
}

#PieceSelection {
	position: absolute;
	bottom: $tileSize;
	right: $tileSize * .5;
	width: auto;
	height: $tileSize;
}

.PieceView {
	position: absolute;
	cursor: pointer;
	width: $tileSize;
	height: $tileSize;
	background: none;
}

#PieceSelection .PieceView {
	float: left;
	position: relative;
}

#BoardView .PieceView {
	background: none;
	@include topLeft;
	transform : translate3d(0, 0, 0);
	-webkit-transform : translate3d(0, 0, 0);
}

.PieceView #PieceViewCanvas{
	@include topLeft;
	@include hundredPercent;
}

@mixin radialGradient($color){
	$clear : rgba(0, 0, 0, 0);
	background: -moz-radial-gradient(center, ellipse cover, $color 0%, $clear 80%);
	background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(0%, $color), color-stop(85%,$clear));
	background: -webkit-radial-gradient(center, ellipse cover, $color 0%, $clear 80%);
	background: -o-radial-gradient(center, ellipse cover, $color 0%, $clear 80%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, $color 0%,$clear 80%); /* IE10+ */
	background: radial-gradient(ellipse at center, $color 0%, $clear 80%); /* W3C */
}

.PieceView #PieceViewCanvas.red.selected{
	@include radialGradient($red);
}

.PieceView #PieceViewCanvas.green.selected {
	@include radialGradient($green);
}

/* the play button */
#GameScreen .PlayButton {
	border-radius: 5px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: $gameScreenButtonSize;
	height: $gameScreenButtonSize;
	margin: $tileSize / 2;
	background-color: $green;
	line-height: $gameScreenButtonSize;
	cursor: pointer;
}

/* the play button */
#GameScreen .PlayButton .ButtonTextContainer{
	line-height: $gameScreenButtonSize;
	color: $white;
	font-family: sans-serif;
}

#GameScreen .PlayButton:active {
	background-color: $black;
	color: $white;
}

#GameScreen .PlayButton.playing {
	background-color: $red;
}

#GameScreen .PlayButton.playing:active {
	background-color: $black;
	color: $white;
}

$patternDisplayHeight : $tileSize * 1.5;

#GameScreen #PatternDisplay {
	width: $screenWidth - 65px;
	height: $patternDisplayHeight * 2;
	position: absolute;
	top: 10px;
	left: 60px;
	background-color: $black;
	overflow: hidden;
}

#GameScreen #PatternDisplay #PatternDisplayUserPattern {
	@include topLeft;
	height: 50%;
	width: 100%%;
	background-color: #333;
}

#GameScreen #PatternDisplay #PatternDisplayTarget {
	position: absolute;
	top: 50%;
	left: 0px;
	height: 50%;
	width: 100%%;
}

$patternNoteMargin : 5px;

#GameScreen #PatternDisplay .PatternBeatView {
	width: 100%;
	height: $patternDisplayHeight;
	float: left;
	position: relative;
}

#GameScreen #PatternDisplay .PatternBeatView .rest{
	opacity: 0;
	background-color: $white;
	border-radius: 2px;
	@include centeredAbsolute(80%, $patternDisplayHeight / 6);
}

#GameScreen #PatternDisplay .PatternNoteView {
	height: $patternDisplayHeight / 5;
	width: 100%;
	position: relative;
	opacity: 1;
}

#GameScreen #PatternDisplay .PatternNoteView .fill {
	position: absolute;
	border-radius: 2px;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
}

#GameScreen #PatternDisplay .PatternNoteView.glow .fill{
	border: 1px solid white;
}

#GameScreen #PatternDisplay .PatternNoteView.red .fill{
	background-color: $red;
}
#GameScreen #PatternDisplay .PatternNoteView.yellow .fill{
	background-color: $yellow;
}
#GameScreen #PatternDisplay .PatternNoteView.green .fill{
	background-color: $green;
}
#GameScreen #PatternDisplay .PatternNoteView.blue .fill{
	background-color: $blue;
}
#GameScreen #PatternDisplay .PatternNoteView.purple .fill{
	background-color: $purple;
}

#GameScreen .BackButton {
	margin-top: 6px;
	margin-bottom: $buttonMargin;
	margin-left: $buttonMargin;
	margin-right: $buttonMargin;
	
	float: left;
}

/*replace the content value with the 
corresponding value from the list below*/
