#GameScreen {
	background-color: $screenBackground;
}

$gameScreenButtonSize : $tileSize * 2;

/*
Some of the views
*/
#BoardView {
	position: absolute;
	bottom: $gameScreenButtonSize + $tileSize;
	background-color: $black;
}

#PieceSelection {
	position: absolute;
	bottom: $tileSize;
	right: $tileSize * .5;
	width: auto;
	height: $tileSize;
}

.PieceView {
	position: absolute;
	cursor: pointer;
	width: $tileSize;
	height: $tileSize;
	background: none;
}

#PieceSelection .PieceView {
	float: left;
	position: relative;
}

#BoardView .PieceView {
	background: none;
	@include topLeft;
	transform : translate3d(0, 0, 0);
	-webkit-transform : translate3d(0, 0, 0);
}

.PieceView #PieceViewCanvas{
	@include topLeft;
	@include hundredPercent;
}

@mixin radialGradient($color){
	$clear : rgba(0, 0, 0, 0);
	background: -moz-radial-gradient(center, ellipse cover, $color 0%, $clear 80%);
	background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(0%, $color), color-stop(85%,$clear));
	background: -webkit-radial-gradient(center, ellipse cover, $color 0%, $clear 80%);
	background: -o-radial-gradient(center, ellipse cover, $color 0%, $clear 80%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, $color 0%,$clear 80%); /* IE10+ */
	background: radial-gradient(ellipse at center, $color 0%, $clear 80%); /* W3C */
}

.PieceView #PieceViewCanvas.red.selected{
	@include radialGradient($red);
}

.PieceView #PieceViewCanvas.green.selected {
	@include radialGradient($green);
}

/* the play button */
#GameScreen .PlayButton {
	border-radius: 5px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: $gameScreenButtonSize;
	height: $gameScreenButtonSize;
	margin: $tileSize / 2;
	background-color: $green;
	line-height: $gameScreenButtonSize;
	cursor: pointer;
}

/* the play button */
#GameScreen .PlayButton .ButtonTextContainer{
	line-height: $gameScreenButtonSize;
	color: $white;
	font-family: sans-serif;
}

#GameScreen .PlayButton:active {
	background-color: $black;
	color: $white;
}

#GameScreen .PlayButton.playing {
	background-color: $red;
}

#GameScreen .PlayButton.playing:active {
	background-color: $black;
	color: $white;
}

#GameScreen #PatternView {
	width: $screenWidth - $tileSize / 2;
	height: $tileSize * 1.5;
	position: absolute;
	top: 62px;
	left: $tileSize / 4;
	background-color: $black;
	overflow: hidden;
}

#GameScreen #PatternView #PatternScroller {
	@include topLeft;
	height: 100%;
	width: 200%;
	transform : translate3d(0, 0, 0);
	-webkit-transform : translate3d(0, 0, 0);
}

$patternNoteMargin : 5px;

#GameScreen #PatternView .PatternNote {
	height: $tileSize / 4 - $patternNoteMargin;
	position: absolute;
}

#GameScreen #PatternView .PatternNote .fill {
	position: absolute;
	border-radius: 5px;
	width: 60%;
	height: 80%;
	left: 10%;
	top: 10%;
}


#GameScreen #PatternView .PatternNote.red .fill{
	background-color: $red;
}
#GameScreen #PatternView .PatternNote.yellow .fill{
	background-color: $yellow;
}
#GameScreen #PatternView .PatternNote.green .fill{
	background-color: $green;
}
#GameScreen #PatternView .PatternNote.blue .fill{
	background-color: $blue;
}
#GameScreen #PatternView .PatternNote.purple .fill{
	background-color: $purple;
}
#GameScreen #PatternView .PatternNote.rest .fill{
	background-color: $white;
	border-radius: ($tileSize*.25 - $patternNoteMargin) / 2;
	@include centeredAbsolute($tileSize*.25 - $patternNoteMargin, $tileSize*.25 - $patternNoteMargin);
}

#GameScreen .BackButton:active {
	color: $black;
}
 
/*replace the content value with the 
corresponding value from the list below*/
 
#GameScreen .BackButton {
    content: "\f0a8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #FFF;
    font-size: 3em;
    position: relative;
    margin: 10px;
    cursor: pointer;
    width: 100px;
}

#GameScreen .BackButton:before {
    content: "\f0a8";
}
