/*=============================================================================
	UTILS
=============================================================================*/

@mixin topLeft {
	position: absolute;
	top: 0px;
	left: 0px;
}

@mixin hundredPercent {
	width: 100%;
	height: 100%;
}

@mixin centeredAbsolute($width, $height){
	position: absolute;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	margin-top: -$height/2;
	margin-left: -$width/2;
}

/*=============================================================================
	COLORS
=============================================================================*/

$blue: #02ACEE;
$red: #EE1B21;
$yellow: #F46E1E;
$green : #00A550;
$purple : #605EC2;
$black : #000001;
$white : #fffffd;
$offBlack : #414141;
$screenBackground : #292929;

$tileSize : 35px;

$font-family : 'Lato', sans-serif;

@mixin smallFont {
	font-family: $font-family;
}

/*=============================================================================
SCREEN
=============================================================================*/
$screenWidth : 320px;
/*$screenHeight : 568px;*/
$iphone5Height : 568px;
$iphone4Height : 480px;

@mixin screenHeight{
	@media (min-height: $iphone5Height) {
		height: $iphone5Height;
	}
	@media (height: $iphone4Height) {
		height: $iphone4Height;
	}
}

@mixin screenHeightOffset($offset){
	@media (min-height: $iphone5Height) {
		height: $iphone5Height + $offset;
	}
	@media (height: $iphone4Height) {
		height: $iphone4Height + $offset;
	}
}

@mixin respond-to($media) {
	@if $media == iphone4 {
		@media (height: $iphone4Height) { @content; }
	}
	@else if $media == iphone5 {
		@media (min-height: $iphone5Height) { @content; }
	}
}


.screen {
	@include topLeft;
	width: $screenWidth;
	@include screenHeight;
}

$phoneMarginLeft : 15px;
$phoneWidth : $screenWidth + $phoneMarginLeft * 2;
$phoneHeight: $iphone5Height + 100px;

#PhoneWrapper {
	width: $phoneWidth;
	height: $phoneHeight;
	background-color: $black;
	border-radius:10px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -$phoneHeight / 2 + 10px;
	margin-left: -$phoneWidth / 2;
}

#PhoneScreen {
	border : 1px solid $white;
	overflow: hidden;
	position: absolute;
	top: 40px;
	left: $phoneMarginLeft - 1px;
	width: $screenWidth;
	@include screenHeight;
	background-color: $black;
}


/*=============================================================================
	BUTTONS
=============================================================================*/

$buttonMargin : 10px;
$buttonWidth : $screenWidth - $buttonMargin * 2;
$buttonHeight : 50px;

.Button {
	width: $buttonWidth;
	height: $buttonHeight;
	border-radius: 9px;
	cursor: pointer;
	color: $white;
}

.Button:active {
	color: $black;
	background-color: $white;
}

.ButtonTextContainer {
	font-family: $font-family;
	font-size: 20px;
	width: 100%;
	height: 100%;
	line-height: $buttonHeight;
	text-align: center;
	vertical-align: middle;
	color: #B1B1B1;
}

.BackButton {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: #DDD;
    font-size: 3em;
    position: relative;
    cursor: pointer;
}

.BackButton:before {
    content: "\f0a8";
}

.BackButton:active {
  color: $black;
}
