/*=============================================================================
IMPORTS
=============================================================================*/

@import "grid";
@import "splashscreen";
@import "gamescreen";
@import "songscreen";
@import "partsscreen";

/*
	GLOBALS
*/

body {
	width: $screenWidth;
	height: $screenHeight;
	margin: 0px;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
}

