/*=============================================================================
IMPORTS
=============================================================================*/
/*=============================================================================
	UTILS
=============================================================================*/
/*=============================================================================
	COLORS
=============================================================================*/
/*=============================================================================
SCREEN
=============================================================================*/
.screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 710px;
  height: 540px; }

#PhoneWrapper {
  width: 740px;
  height: 640px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -310px;
  margin-left: -330px; }

#PhoneScreen {
  border-radius: 10px;
  border: 1px solid #fffffd;
  overflow: visible;
  position: absolute;
  top: 40px;
  left: 14px;
  width: 710px;
  height: 540px;
  background-color: transparent; }

/*=============================================================================
	BUTTONS
=============================================================================*/
.Button {
  width: 690px;
  height: 50px;
  border-radius: 9px;
  cursor: pointer;
  color: #fffffd; }

.Button:active {
  color: #000001;
  background-color: #fffffd; }

.ButtonTextContainer {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #B1B1B1; }

.BackButton {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #DDD;
  font-size: 3em;
  position: relative;
  cursor: pointer; }

.BackButton:before {
  content: "\f0a8"; }

.BackButton:active {
  color: #000001; }

#PartsScreen {
  background-color: transparent; }

#PartsScreen .Button {
  background-color: #414141;
  width: 100%;
  display: table;
  border-top-color: #000;
  border-top-style: inset;
  border-top-width: 1px;
  border-radius: 0px; }

#PartsScreen .ButtonTextContainer {
  display: table-cell;
  margin-top: 0px;
  padding: 0px 2px;
  line-height: 25px; }

#PartsScreen .Button:active {
  color: #000001;
  background-color: #fffffd; }

#PartsScreen .ButtonContainer {
  /*
  	margin-top: 10px;
  	margin-bottom: 10px;
  	margin-left: 15px;
  	margin-right: 15px;
  	float: left;
  */ }

#PartsScreen #PartsButtons {
  position: relative;
  top: 28px; }

#SplashScreen {
  z-index: 100000;
  /*background-color: $black;*/
  background-color: #FFF;
  color: #fffffd;
  font-size: 12px;
  text-align: center; }

#SplashScreen .Button {
  background-color: #088bd5; }

#SplashScreen .Button:active {
  color: #000001;
  background-color: #fffffd; }

#SplashScreen #gridBubbleDiv {
  position: absolute;
  vertical-align: middle;
  width: 320px;
  height: 255px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -140px; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

#GameScreen {
  border-radius: 10px;
  background-color: transparent;
  background-image: url("../assets/images/Base.png");
  background-size: 667px;
  background-position-x: 0px;
  background-position-y: -4px;
  background-repeat: no-repeat; }

#GameScreen #CardMask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 148px;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../assets/images/BaseWindow.png"); }

/*=============================================================================
	BOARD
=============================================================================*/
#BoardView {
  position: absolute;
  right: 56px;
  top: 10px;
  background-color: transparent; }

/*=============================================================================
	INSTRUCTIONS
=============================================================================*/
#TileView {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  opacity: 0; }

#TileView #TileViewFill {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  background-size: 100%;
  background-repeat: no-repeat; }

#TileView.red #TileViewFill {
  background-image: url("../assets/images/red/redLight.png"); }

#TileView.green #TileViewFill {
  background-image: url("../assets/images/green/greenLight.png"); }

#TileView.blue #TileViewFill {
  background-image: url("../assets/images/blue/blueLight.png"); }

#TileView.yellow #TileViewFill {
  background-image: url("../assets/images/orange/orangeLight.png"); }

#TileView.purple #TileViewFill {
  background-image: url("../assets/images/purp/purpLight.png"); }

#InstructionView {
  position: absolute;
  left: 17px;
  bottom: 200px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white; }

#InstructionView .InstructionLightView {
  position: relative;
  float: left;
  border-radius: 20px;
  background-color: #666;
  width: 20px;
  height: 20px;
  margin: 5px; }

#InstructionView .InstructionLightView #light {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

#InstructionView .InstructionLightView .red {
  background-color: #db0015; }

#InstructionView .InstructionLightView .green {
  background-color: #00db4a; }

#InstructionView .InstructionLightView .blue {
  background-color: #088bd5; }

#InstructionView .InstructionLightView .yellow {
  background-color: #db7028; }

/*=============================================================================
	PIECE SELECTION
=============================================================================*/
#PieceSelection {
  margin-top: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 1000px; }

#PieceTopScroll {
  top: 0px;
  right: 0px;
  width: 120px !important;
  border-bottom-left-radius: 5px; }

#PieceBottomScroll {
  bottom: 0px;
  right: 0px;
  width: 120px !important;
  border-top-left-radius: 5px; }

#PieceSelectionScroller {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 120px;
  overflow: hidden;
  height: 100%; }

/*=============================================================================
	WALLS
=============================================================================*/
#BoardView .WallView {
  position: absolute;
  background-color: #fffffd;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

#BoardView .WallView.s {
  margin-top: -4px !important;
  margin-left: 21px !important; }

#BoardView .WallView.e {
  margin-top: 21px !important;
  margin-left: -4px !important; }

#BoardView .WallView.w {
  margin-top: 21px !important;
  margin-left: -4px !important; }

#BoardView .WallView.n {
  margin-top: -4px !important;
  margin-left: 21px !important; }

#BoardView .WallView.Hit {
  z-index: 1001; }

#BoardView .WallView.horizontal {
  /*margin-left: -$tileSize / 2;*/
  height: 6px;
  margin-top: -2px;
  width: 436px; }

#BoardView .WallView.vertical {
  width: 6px;
  margin-left: -2px;
  height: 436px;
  /*margin-top: -$tileSize / 2;*/ }

#BoardView .WallView.red {
  background-color: #db0015; }

#BoardView .WallView.blue {
  background-color: #088bd5; }

#BoardView .WallView.green {
  background-color: #00db4a; }

#BoardView .WallView.yellow {
  background-color: #db7028; }

#BoardView .WallView.purple {
  background-color: #dc0090; }

/*=============================================================================
	COLLISION
=============================================================================*/
#BoardView .CollisionView {
  position: absolute;
  background-color: #db0015;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  width: 120px;
  height: 120px;
  opacity: 0; }

/*=============================================================================
	PIECE
=============================================================================*/
.PieceView {
  position: absolute;
  cursor: pointer;
  width: 120px;
  height: 120px;
  background: none;
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 10003;
  visibility: visible; }

.PieceView #PieceViewTouch {
  position: absolute;
  width: 140px;
  height: 140px;
  top: -10px;
  left: -10px; }

#PieceViewCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  background-size: 90px 90px;
  background-position: 15px 15px;
  opacity: 1;
  background-repeat: no-repeat; }

#PieceViewCanvas.red {
  background-image: url("../assets/images/red/buttonRedLeft.png"); }

#PieceViewCanvas.blue {
  background-image: url("../assets/images/blue/buttonBlueLeft.png"); }

#PieceViewCanvas.green {
  background-image: url("../assets/images/green/buttonGreenLeft.png"); }

#PieceViewCanvas.yellow {
  background-image: url("../assets/images/orange/buttonOrangeLeft.png"); }

#PieceViewCanvas.purple {
  background-image: url("../assets/images/purp/buttonPurpLeft.png"); }

.PieceView.active {
  visibility: hidden; }

/*=============================================================================
	PLAY BUTTON
=============================================================================*/
/* the play button */
#GameScreen .PlayButton {
  border-radius: 15px;
  position: absolute;
  left: 13px;
  bottom: 41px;
  width: 94px;
  height: 104px;
  margin: 20px;
  background-color: #28ff60;
  line-height: 90px;
  cursor: pointer; }

/* the play button */
#GameScreen .PlayButton .ButtonTextContainer {
  line-height: 90px;
  color: transparent;
  font-family: sans-serif;
  background-image: url("../assets/images/arrows/playArrow.png");
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 32px; }

#GameScreen .PlayButton:active {
  background-color: #000001;
  color: #fffffd; }

#GameScreen .PlayButton.playing {
  background-color: #db0015; }

#GameScreen .PlayButton.next {
  background-color: #db7028; }

#GameScreen .PlayButton.jamming {
  background-color: #088bd5; }

#GameScreen .PlayButton.playing:active {
  background-color: #000001;
  color: #fffffd; }

/*=============================================================================
	JAM BUTTON
=============================================================================*/
/* the play button */
#GameScreen .JamButton {
  border-radius: 15px;
  position: absolute;
  left: 28px;
  top: 10px;
  width: 104px;
  height: 40px;
  background-color: #fffffd;
  border: solid #000001 4px;
  line-height: 44px;
  cursor: pointer;
  z-index: 10000; }

#GameScreen .JamButton .ButtonTextContainer {
  line-height: 44px;
  color: #000001;
  font-family: sans-serif; }

#GameScreen .JamButton.active {
  background-color: #088bd5; }

#GameScreen .JamButton.active .ButtonTextContainer {
  color: #fffffd; }

/*=============================================================================
	CARD POINTER
=============================================================================*/
/* the play button */
#GameScreen .PointerLight {
  border-radius: 12px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  background-color: #fffffd;
  cursor: pointer; }

#GameScreen .PointerLight .ButtonTextContainer {
  line-height: 15px;
  color: #000001;
  font-family: sans-serif;
  font-size: 10px; }

#GameScreen .PointerLight:active {
  background-color: #db0015; }

#GameScreen .PointerLight.active {
  background-color: #db0015; }

/*=============================================================================
	PATTERN
=============================================================================*/
#GameScreen #PatternDisplay {
  width: 120px;
  height: 60px;
  position: absolute;
  top: 180px;
  left: 17px;
  background-color: #000001;
  overflow: hidden;
  visibility: hidden; }

#GameScreen #PatternDisplay #PatternDisplayUserPattern {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 100%%;
  background-color: #333;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  visibility: hidden; }

#GameScreen #PatternDisplay #PatternDisplayTarget {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%%; }

#GameScreen #PatternDisplay #PatternDisplayTarget #PlayHead {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 2px;
  background-color: #fffffd;
  z-index: 100000; }

.PatternView .PatternBeatView {
  width: 100%;
  height: 100%;
  float: left;
  position: relative; }

.PatternView .PatternBeatView .rest {
  opacity: 0;
  background-color: #fffffd;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 1px;
  margin-top: -0.5px;
  margin-left: -30%; }

.PatternView .PatternNoteView {
  height: 20%;
  width: 100%;
  position: relative;
  opacity: 1; }

.PatternView .PatternNoteView .fill {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%; }

.PatternView .PatternNoteView.red .fill {
  background-color: #db0015; }

.PatternView .PatternNoteView.yellow .fill {
  background-color: #db7028; }

.PatternView .PatternNoteView.green .fill {
  background-color: #00db4a; }

.PatternView .PatternNoteView.blue .fill {
  background-color: #088bd5; }

.PatternView .PatternNoteView.purple .fill {
  background-color: #dc0090; }

#GameScreen .BackButton {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  visibility: hidden; }

/*=============================================================================
	CARDS
=============================================================================*/
#CardContainer {
  margin-top: 50px;
  width: 145px;
  position: absolute;
  top: 0px;
  height: 1000px;
  left: 0px;
  z-index: 0; }

.scrollerHandle {
  opacity: .5;
  background-color: black;
  width: 145px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 100000;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: sans-serif; }

#CardScroller {
  width: 145px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0; }

#CardScroller #CardTopScroll {
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 5px; }

#CardScroller #CardBottomScroll {
  bottom: 0px;
  left: 0px;
  border-top-right-radius: 5px; }

.CardView {
  width: 130px;
  height: 190px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 2px;
  margin-left: 5px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  z-index: 0; }

.CardView.dance {
  background-image: url("../assets/images/cards/dance.png"); }

.CardView.rock {
  background-image: url("../assets/images/cards/rock.png"); }

.CardView.electronic {
  background-image: url("../assets/images/cards/electronic.png"); }

.CardView.jazz {
  background-image: url("../assets/images/cards/jazz.png"); }

#CardContainer .CardView {
  box-shadow: 5px 5px 5px #888888; }

.CardView #Patterns {
  position: absolute;
  width: 100%;
  top: 43px; }

.CardView #Title {
  position: absolute;
  width: 110px;
  left: 19px;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 25px;
  height: 25px;
  top: 19px;
  background-color: #fffffd;
  color: #000001; }

.CardView .PatternContainer {
  background-color: #000001;
  border-radius: 4px;
  width: 104px;
  margin: 4px 22px 0px;
  /*border: 3px solid $black;*/
  position: relative;
  height: 18px; }

#GameScreen .CardView {
  position: absolute;
  top: 100px;
  left: -15px; }

#CardPointer {
  position: absolute;
  height: 243px;
  width: 10px;
  left: 16px;
  top: 86px;
  background-color: transparent;
  z-index: 1000; }

#CardPointer i {
  position: absolute;
  font-size: 12px;
  left: 0px;
  top: 0px;
  color: #666;
  width: 10px;
  height: 10px; }

#CardPointer i.active {
  color: #fffffd; }

/*=============================================================================
	TRAJECTORY VIEW
=============================================================================*/
.TrajectoryStepView {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  opacity: 0; }

.TrajectoryStepView #fill {
  /*@include centeredAbsolute($tileSize - $TileViewMargin, $tileSize - $TileViewMargin);*/
  /*border-radius: $tileSize - $TileViewMargin;*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  background-size: 100%;
  background-repeat: no-repeat; }

.TrajectoryStepView.red #fill {
  background-image: url("../assets/images/red/redLight.png"); }

.TrajectoryStepView.green #fill {
  background-image: url("../assets/images/green/greenLight.png"); }

.TrajectoryStepView.blue #fill {
  background-image: url("../assets/images/blue/blueLight.png"); }

.TrajectoryStepView.yellow #fill {
  background-image: url("../assets/images/orange/orangeLight.png"); }

.TrajectoryStepView.purple #fill {
  background-image: url("../assets/images/purp/purpLight.png"); }

/*=============================================================================
	LIGHT SHOW
=============================================================================*/
.LightShow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  opacity: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../assets/images/red/redLight.png"); }

.LightShow.red {
  background-image: url("../assets/images/red/redLight.png"); }

.LightShow.green {
  background-image: url("../assets/images/green/greenLight.png"); }

.LightShow.blue {
  background-image: url("../assets/images/blue/blueLight.png"); }

.LightShow.yellow {
  background-image: url("../assets/images/orange/orangeLight.png"); }

.LightShow.purple {
  background-image: url("../assets/images/purp/purpLight.png"); }

#SongsScreen {
  background-color: transparent; }

#SongsScreen .Button {
  background-color: #414141;
  width: 100%;
  display: table;
  border-top-color: #000;
  border-top-style: inset;
  border-top-width: 1px;
  border-radius: 0px; }

#SongsScreen .ButtonTextContainer {
  display: table-cell;
  margin-top: 0px;
  padding: 0px 2px;
  line-height: 25px; }

#SongsScreen .Button:active {
  color: #000001;
  background-color: #fffffd; }

#SongsScreen #SongButtons {
  position: relative;
  top: 28px; }

#SongsScreen #icon-question-sign {
  font-size: 30px; }

#TopNav {
  height: 58px;
  color: #910006;
  width: 100%;
  background-color: #db0015;
  border-bottom: 1px solid #970000; }

#TopNav .Button {
  background-color: #4D4343;
  border-radius: 10px;
  border-top-color: #000;
  border-top-style: inset;
  border-top-width: 1px;
  width: 58px;
  height: 18px; }

#TopNav #Title {
  width: 554px;
  float: left;
  text-align: center;
  margin-top: 9px;
  font-family: sans-serif;
  font-size: 33px; }

#TopNav .ButtonTextContainer {
  font-family: sans-serif;
  font-size: 11px;
  width: 100%;
  height: 100%;
  line-height: 13px;
  text-align: center;
  vertical-align: middle; }

#TopNav .ButtonContainer {
  width: 58px;
  height: 18px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left; }

#GameOverInterstitial {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000000; }

#GameOverInterstitial #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000001;
  opacity: .5; }

#GameOverInterstitial #Dialog {
  height: 165px;
  width: 300px;
  color: #910006;
  position: absolute;
  z-index: 1000000;
  font-family: arial;
  top: 195px;
  left: 10px;
  border-color: #fff;
  border: 1px solid #030303; }

#GameOverInterstitial #Title {
  color: #000;
  font-size: 19px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

#GameOverInterstitial #Background {
  opacity: .9;
  background-color: #AFAEAE;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: -1; }

#GameOverInterstitial .Button {
  background-color: #4D4343;
  border-top-color: #000;
  border-top-style: inset;
  border-top-width: 1px;
  border-radius: 0px;
  display: table; }

#GameOverInterstitial .Button:active {
  color: #000001;
  background-color: #fffffd; }

#GameOverInterstitial .ButtonTextContainer {
  font-family: sans-serif;
  font-size: 17px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fffffd;
  display: table-cell; }

#LoadingScreen {
  background-image: url("../assets/images/LoadingScreen.png");
  background-repeat: no-repeat;
  background-color: #fffffd;
  width: 1024px;
  height: 768px; }

/*
	GLOBALS
*/
body {
  width: 710px;
  height: 540px;
  margin: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  /* a scale hack*/
  	/*transform: scale(.5);
     -webkit-transform: scale(.5);
     -ms-transform: scale(.5);
     -moz-transform: scale(.5);*/ }
