/*=============================================================================
IMPORTS
=============================================================================*/
/*=============================================================================
	UTILS
=============================================================================*/
/*=============================================================================
	COLORS
=============================================================================*/
/*=============================================================================
SCREEN
=============================================================================*/
.screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 568px; }

#PhoneWrapper {
  width: 350px;
  height: 668px;
  background-color: #000001;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -324px;
  margin-left: -175px; }

#PhoneScreen {
  border: 1px solid #fffffd;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 14px;
  width: 320px;
  height: 568px;
  background-color: #000001; }

/*=============================================================================
	BUTTONS
=============================================================================*/
.Button {
  width: 300px;
  height: 50px;
  border-radius: 9px;
  cursor: pointer;
  color: #fffffd; }

.Button:active {
  color: #000001;
  background-color: #fffffd; }

.ButtonTextContainer {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #B1B1B1; }

.BackButton {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #DDD;
  font-size: 3em;
  position: relative;
  cursor: pointer; }

.BackButton:before {
  content: "\f0a8"; }

.BackButton:active {
  color: #000001; }

#PartsScreen {
  background-color: #292929; }

#PartsScreen .Button {
  background-color: #414141;
  width: 130px;
  height: 92px;
  display: table; }

#PartsScreen .ButtonTextContainer {
  display: table-cell;
  margin-top: 0px;
  padding: 0px 2px;
  line-height: 25px; }

#PartsScreen .Button:active {
  color: #000001;
  background-color: #fffffd; }

#PartsScreen .ButtonContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

#PartsScreen #PartsButtons {
  position: relative;
  top: 28px; }

#SplashScreen {
  background-color: #292929;
  color: #fffffd;
  font-size: 12px;
  text-align: center; }

#SplashScreen .Button {
  background-color: #0092d2; }

#SplashScreen .Button:active {
  color: #000001;
  background-color: #fffffd; }

#SplashScreen #gridBubbleDiv {
  position: absolute;
  vertical-align: middle;
  width: 320px;
  height: 255px;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -140px; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

#GameScreen {
  background-color: #292929; }

/*=============================================================================
	BOARD
=============================================================================*/
#BoardView {
  position: absolute;
  bottom: 105px;
  background-color: #000001; }

/*=============================================================================
	PIECE SELECTION
=============================================================================*/
#PieceSelection {
  position: absolute;
  bottom: -70px;
  left: 150px;
  width: 175px;
  height: 35px; }

/*=============================================================================
	WALLS
=============================================================================*/
#BoardView .WallView {
  position: absolute;
  background-color: #fffffd;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

#BoardView .WallView.Hit {
  z-index: 1001; }

#BoardView .WallView.Hit.vertical {
  width: 5px;
  margin-left: -2px;
  height: 39px;
  margin-top: -19.5px; }

#BoardView .WallView.Hit.horizontal {
  height: 5px;
  margin-top: -2px;
  width: 39px;
  margin-left: -19.5px; }

#BoardView .WallView.horizontal {
  margin-left: -17.5px;
  height: 1px;
  width: 35px; }

#BoardView .WallView.vertical {
  width: 1px;
  height: 35px;
  margin-top: -17.5px; }

#BoardView .WallView.red {
  background-color: #d4463f; }

#BoardView .WallView.blue {
  background-color: #0092d2; }

#BoardView .WallView.green {
  background-color: #53cc66; }

#BoardView .WallView.yellow {
  background-color: #f58107; }

#BoardView .WallView.purple {
  background-color: #ca60ca; }

/*=============================================================================
	COLLISION
=============================================================================*/
#BoardView .CollisionView {
  position: absolute;
  background-color: #d4463f;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  width: 35px;
  height: 35px;
  opacity: 0; }

/*=============================================================================
	PIECE
=============================================================================*/
.PieceView {
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: none;
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 10003; }

#PieceViewCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  font-size: 35px;
  text-align: center;
  line-height: 37.5px; }

#PieceViewCanvas.red {
  color: #d4463f; }

#PieceViewCanvas.blue {
  color: #0092d2; }

#PieceViewCanvas.green {
  color: #53cc66; }

#PieceViewCanvas.yellow {
  color: #f58107; }

#PieceViewCanvas.purple {
  color: #ca60ca; }

.PieceView.selected {
  width: 68px;
  height: 68px;
  margin-left: -18.5px;
  margin-top: -18.5px;
  border: 1px solid #fffffd;
  border-radius: 35px; }

.PieceView.selected #PieceViewCanvas {
  top: 17.5px;
  left: 17.5px; }

.PieceView #PieceViewCanvas.green.selected {
  background: -moz-radial-gradient(center, ellipse cover, #53cc66 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(0%, #53cc66), color-stop(85%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, #53cc66 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse cover, #53cc66 0%, rgba(0, 0, 0, 0) 80%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #53cc66 0%, rgba(0, 0, 0, 0) 80%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #53cc66 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */ }

.PieceView #PieceViewCanvas.blue.selected {
  background: -moz-radial-gradient(center, ellipse cover, #0092d2 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(0%, #0092d2), color-stop(85%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, #0092d2 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse cover, #0092d2 0%, rgba(0, 0, 0, 0) 80%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #0092d2 0%, rgba(0, 0, 0, 0) 80%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #0092d2 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */ }

.PieceView #PieceViewCanvas.yellow.selected {
  background: -moz-radial-gradient(center, ellipse cover, #f58107 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(0%, #f58107), color-stop(85%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, #f58107 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse cover, #f58107 0%, rgba(0, 0, 0, 0) 80%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f58107 0%, rgba(0, 0, 0, 0) 80%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f58107 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */ }

.PieceView #PieceViewCanvas.purple.selected {
  background: -moz-radial-gradient(center, ellipse cover, #ca60ca 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 80%, color-stop(0%, #ca60ca), color-stop(85%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, #ca60ca 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse cover, #ca60ca 0%, rgba(0, 0, 0, 0) 80%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ca60ca 0%, rgba(0, 0, 0, 0) 80%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ca60ca 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */ }

/*=============================================================================
	PLAY BUTTON
=============================================================================*/
/* the play button */
#GameScreen .PlayButton {
  border-radius: 5px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 70px;
  height: 70px;
  margin: 17.5px;
  background-color: #53cc66;
  line-height: 70px;
  cursor: pointer; }

/* the play button */
#GameScreen .PlayButton .ButtonTextContainer {
  line-height: 70px;
  color: #fffffd;
  font-family: sans-serif; }

#GameScreen .PlayButton:active {
  background-color: #000001;
  color: #fffffd; }

#GameScreen .PlayButton.playing {
  background-color: #d4463f; }

#GameScreen .PlayButton.playing:active {
  background-color: #000001;
  color: #fffffd; }

/*=============================================================================
	PATTERN
=============================================================================*/
#GameScreen #PatternDisplay {
  width: 255px;
  height: 105px;
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: #000001;
  overflow: hidden; }

#GameScreen #PatternDisplay #PatternDisplayUserPattern {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 100%%;
  background-color: #333;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5); }

#GameScreen #PatternDisplay #PatternDisplayTarget {
  position: absolute;
  top: 50%;
  left: 0px;
  height: 50%;
  width: 100%%; }

#GameScreen #PatternDisplay #PatternDisplayTarget #PlayHead {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 2px;
  background-color: #fffffd;
  z-index: 100000; }

#GameScreen #PatternDisplay .PatternBeatView {
  width: 100%;
  height: 52.5px;
  float: left;
  position: relative; }

#GameScreen #PatternDisplay .PatternBeatView .rest {
  opacity: 0;
  background-color: #fffffd;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 4.375px;
  margin-top: -2.1875px;
  margin-left: -40%; }

#GameScreen #PatternDisplay .PatternNoteView {
  height: 10.5px;
  width: 100%;
  position: relative;
  opacity: 1; }

#GameScreen #PatternDisplay .PatternNoteView .fill {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%; }

#GameScreen #PatternDisplay .PatternNoteView.glow .fill {
  border: 1px solid white; }

#GameScreen #PatternDisplay .PatternNoteView.red .fill {
  background-color: #d4463f; }

#GameScreen #PatternDisplay .PatternNoteView.yellow .fill {
  background-color: #f58107; }

#GameScreen #PatternDisplay .PatternNoteView.green .fill {
  background-color: #53cc66; }

#GameScreen #PatternDisplay .PatternNoteView.blue .fill {
  background-color: #0092d2; }

#GameScreen #PatternDisplay .PatternNoteView.purple .fill {
  background-color: #ca60ca; }

#GameScreen .BackButton {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left; }

#SongsScreen {
  background-color: #292929; }

#SongsScreen .Button {
  clear: both;
  background-color: #414141;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; }

#SongsScreen .Button:active {
  color: #000001;
  background-color: #fffffd; }

#SongsScreen #SongButtons {
  position: relative;
  top: 28px; }

#TopNav {
  height: 58px;
  color: #910006;
  width: 100%;
  background-color: #d4463f;
  border-bottom: 1px solid #970000; }

#TopNav .Button {
  background-color: #4D4343;
  border-radius: 10px;
  border-top-color: #000;
  border-top-style: inset;
  border-top-width: 1px;
  width: 58px;
  height: 18px; }

#TopNav #Title {
  width: 164px;
  float: left;
  text-align: center;
  margin-top: 9px;
  font-family: sans-serif;
  font-size: 33px; }

#TopNav .ButtonTextContainer {
  font-family: sans-serif;
  font-size: 11px;
  width: 100%;
  height: 100%;
  line-height: 13px;
  text-align: center;
  vertical-align: middle; }

#TopNav .ButtonContainer {
  width: 58px;
  height: 18px;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left; }

/*
	GLOBALS
*/
body {
  width: 320px;
  height: 568px;
  margin: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  /* a scale hack*/
  	/*transform: scale(.5);
     -webkit-transform: scale(.5);
     -ms-transform: scale(.5);
     -moz-transform: scale(.5);*/ }
