/*=============================================================================
IMPORTS
=============================================================================*/
/*=============================================================================
	UTILS
=============================================================================*/
/*=============================================================================
	COLORS
=============================================================================*/
@mixing noiseBackground {
  background: url("../assets/images/backgrounds/noise3.png");
  background-size: 1068px 1068px;
  animation: noiseSlide 3s steps(60) infinite;
  -webkit-animation: noiseSlide 3s steps(60) infinite; }

@keyframes noiseSlide {
  from {
    background-position: 0px; }

  to {
    background-position: 0px 0px; } }

@-webkit-keyframes noiseSlide {
  from {
    background-position: 0px; }

  to {
    background-position: 1068px 1068px; } }

/*=============================================================================
SCREEN
=============================================================================*/
/*$screenHeight : 568px;*/
.screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  overflow: hidden; }
  @media (min-height: 568px) {
    .screen {
      height: 568px; } }
  @media (height: 480px) {
    .screen {
      height: 480px; } }

#PhoneWrapper {
  width: 350px;
  height: 668px;
  background-color: #212122;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -324px;
  margin-left: -175px; }

#PhoneScreen {
  border: 1px solid #fffffd;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 14px;
  width: 320px;
  background-color: #212122; }
  @media (min-height: 568px) {
    #PhoneScreen {
      height: 568px; } }
  @media (height: 480px) {
    #PhoneScreen {
      height: 480px; } }

/*=============================================================================
	BUTTONS
=============================================================================*/
.Button {
  width: 300px;
  height: 60px;
  cursor: pointer;
  color: #fffffd;
  background-color: transparent; }

.Button.active {
  opacity: .1; }

.ButtonTextContainer {
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  vertical-align: middle; }

.BackButton {
  position: absolute;
  left: 0px;
  background: url("../assets/images/icons/back.png");
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  cursor: pointer;
  z-index: 10006; }
  @media (height: 480px) {
    .BackButton {
      top: -6px; } }
  @media (min-height: 568px) {
    .BackButton {
      top: 0px; } }

.BackButton.active {
  background: url("../assets/images/icons/back_white.png");
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  cursor: pointer; }

#PartsScreen {
  /*background-color : $screenBackground;*/
  opacity: 0;
  color: #fffffd;
  font-family: "Lato", sans-serif;
  font-size: 24pt;
  letter-spacing: 0.1em;
  font-weight: 300;
  /*background: url("../assets/images/splash/stripe.png");*/
  /*background: linear-gradient(
  	rgba(251, 241, 82, 0.1), 
  	rgba(6, 174, 230, 0.1)
  ), url("../assets/images/backgrounds/checker.png");*/
  background: url("../assets/images/backgrounds/checker.png"); }

#PartsScreen .ButtonTextContainer {
  display: table-cell;
  margin-top: 0px;
  line-height: 26px;
  width: 100%;
  height: 100%; }

#PartsScreen #PartsButtons {
  position: relative;
  top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 335px; }
  @media (height: 480px) {
    #PartsScreen #PartsButtons {
      height: 355px; } }
  @media (min-height: 568px) {
    #PartsScreen #PartsButtons {
      height: 430px; } }

/*=============================================================================
	PLAY BUTTON
=============================================================================*/
#PartsScreen #PartsPlayButton {
  position: absolute;
  left: 134.5px;
  bottom: 18px;
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  cursor: pointer;
  background-image: url("../assets/images/icons/play.png"); }

#PartsScreen #PartsPlayButton .ButtonTextContainer {
  font-family: "Lato", sans-serif;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: .1em;
  position: absolute;
  width: 51px;
  top: 45px;
  left: 0px;
  text-align: center;
  color: black; }

#PartsScreen #PartsPlayButton {
  position: absolute;
  left: 134.5px;
  bottom: 18px;
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  cursor: pointer;
  background-image: url("../assets/images/icons/play.png"); }

#PartsScreen #PartsPlayButton.active {
  background-image: url("../assets/images/icons/play_white.png"); }

#PartsScreen #PartsPlayButton.playing {
  background-image: url("../assets/images/icons/stop.png"); }

#PartsScreen #PartsPlayButton.playing.active {
  background-image: url("../assets/images/icons/stop_white.png"); }

/*=============================================================================
	PATTERN
=============================================================================*/
#PartsScreen #PartsButtons .Button #PatternDisplay {
  position: absolute;
  background-color: transparent;
  left: 4px;
  margin-left: 1px;
  margin-top: 1px;
  width: 312px;
  opacity: 0;
  height: 58px; }

#PartsScreen #PatternDisplay .PatternNoteView {
  height: 9.66667px;
  width: 100%;
  position: relative;
  opacity: 1;
  background-color: transparent;
  border: solid 1px transparent; }

#PartsScreen #PatternDisplay .PatternBeatView {
  width: 100%;
  height: 58px;
  float: left;
  position: relative; }

#PartsScreen #PatternDisplay .PatternBeatView .rest {
  height: 0px; }

#PartsScreen #PatternDisplay .PatternBeatView {
  width: 100%;
  height: 58px;
  float: left;
  position: relative; }

#PartsScreen #PatternDisplay .PatternNoteView .fill {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: #ebebea; }

#PartsScreen #PatternDisplay .PatternNoteView.blue .filled {
  background-color: #02acee; }

#PartsScreen #PatternDisplay .PatternNoteView.red .filled {
  background-color: #ee1b21; }

#PartsScreen #PatternDisplay .PatternNoteView.yellow .filled {
  background-color: #f46e1e; }

#PartsScreen #PatternDisplay .PatternNoteView.green .filled {
  background-color: #00a550; }

#PartsScreen #PatternDisplay .PatternNoteView.purple .filled {
  background-color: #605ec2; }

#PartsScreen #PatternDisplay .PatternNoteView.pink .filled {
  background-color: #ed0189; }

/*=============================================================================
	BUTTONS
=============================================================================*/
#PartsScreen #PartsButtons .ButtonIcon {
  position: relative;
  top: -55.5px;
  left: 134.5px; }

#PartsScreen #PartsButtons .Button.locked .ButtonIcon {
  background: url("../assets/images/icons/lock_white.png");
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  background-position: 50%;
  background-repeat: no-repeat; }

#PartsScreen #PartsButtons .Button.locked {
  opacity: .3; }

#PartsScreen #PartsButtons .Button.playable .ButtonIcon {
  background: url("../assets/images/icons/forward_white.png");
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  background-position: 50%;
  background-repeat: no-repeat; }

#PartsScreen #PartsButtons .Button.active {
  opacity: 0.1 !important; }

/*
#PartsScreen #PartsButtons .Button .Background {
	width: 100%;
	height: 100%;
	background-color: blue;
}*/
#PartsScreen .Button .StatusText {
  font-family: "Lato", sans-serif;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #fffffd;
  position: absolute;
  bottom: 2px;
  right: 2px; }

#PartsScreen #PartsButtons .Button {
  position: relative;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#PartsButtons.blue .Button .Background {
  background-color: #02acee;
  width: 100%;
  height: 100%; }

#PartsButtons.red .Button .Background {
  background-color: #ee1b21;
  width: 100%;
  height: 100%; }

#PartsButtons.yellow .Button .Background {
  background-color: #f46e1e;
  width: 100%;
  height: 100%; }

#PartsButtons.green .Button .Background {
  background-color: #00a550;
  width: 100%;
  height: 100%; }

#PartsButtons.purple .Button .Background {
  background-color: #605ec2;
  width: 100%;
  height: 100%; }

#PartsButtons.pink .Button .Background {
  background-color: #ed0189;
  width: 100%;
  height: 100%; }

#SplashScreen {
  /*background: linear-gradient(
  	rgba(251, 241, 82, 0.6), 
  	rgba(6, 174, 230, 0.6)
  ), url("../assets/images/backgrounds/checker.png");*/
  color: #212122;
  font-family: "Lato", sans-serif;
  font-size: 8pt;
  font-weight: 700; }
  @media (height: 480px) {
    #SplashScreen {
      background: url("../assets/images/splash/splah_iphone4.png");
      background-size: 320px 480px; } }
  @media (min-height: 568px) {
    #SplashScreen {
      background: url("../assets/images/splash/splah_iphone5.png");
      background-size: 320px 568px; } }

#SplashScreen .Button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0px; }

#SplashScreen .Button:active {
  /*background : url("../assets/images/icons/forward_white.png");
  background-size: 51px 51px;*/
  /*background-color: $black;*/ }

#SplashScreen #gridBubbleDiv {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px; }

#SplashScreen #versionDiv {
  -webkit-user-select: text;
  font-size: 8px;
  text-align: center;
  position: absolute;
  bottom: 4px;
  width: 100%; }

#SplashScreen #copyrightDiv {
  -webkit-user-select: text;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 4px;
  width: 100%; }

#SplashScreen #commithashDiv {
  -webkit-user-select: text;
  font-size: 10px;
  position: absolute;
  bottom: 23px;
  width: 100%; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

#GameScreen {
  /*background-color: $screenBackground;*/
  opacity: 0;
  /*background: linear-gradient(
  	rgba(251, 241, 82, 0.1), 
  	rgba(6, 174, 230, 0.1)
  ), url("../assets/images/backgrounds/checker.png");*/
  background: url("../assets/images/backgrounds/checker.png"); }

/*=============================================================================
	BOARD
=============================================================================*/
#BoardView {
  position: absolute;
  bottom: 79px; }

#BoardView #TileCanvas {
  position: absolute; }

#BoardView #BackgroundColor {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 302px;
  height: 302px;
  background-color: #ebebea; }

#BoardView .TileView {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  pointer-events: none;
  opacity: 0; }

#BoardView .TileView.highlight {
  background-color: #ee1b21; }

/*=============================================================================
	PIECE SELECTION
=============================================================================*/
#PieceSelection {
  position: absolute;
  top: 320px;
  right: 9px;
  width: 231px;
  height: 70px;
  background-color: #ebebea; }

#PieceSelection .PieceView {
  position: relative;
  float: left; }

/*=============================================================================
	WALLS
=============================================================================*/
#BoardView .WallView {
  position: absolute;
  background-color: #212122;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 0; }

#BoardView .WallView.Hit {
  z-index: 1001; }

#BoardView .WallView.Hit.vertical {
  width: 5px;
  margin-left: -2px;
  height: 31px;
  margin-top: -15.5px; }

#BoardView .WallView.Hit.horizontal {
  height: 5px;
  margin-top: -2px;
  width: 31px;
  margin-left: -15.5px; }

#BoardView .WallView.horizontal {
  margin-left: -15.5px;
  height: 1px;
  width: 32px; }

#BoardView .WallView.vertical {
  width: 1px;
  height: 32px;
  margin-top: -15.5px; }

#BoardView .WallView.blue {
  background-color: #02acee; }

#BoardView .WallView.red {
  background-color: #ee1b21; }

#BoardView .WallView.yellow {
  background-color: #f46e1e; }

#BoardView .WallView.green {
  background-color: #00a550; }

#BoardView .WallView.purple {
  background-color: #605ec2; }

#BoardView .WallView.pink {
  background-color: #ed0189; }

/*=============================================================================
	COLLISION
=============================================================================*/
#BoardView .CollisionView {
  position: absolute;
  background: url("../assets/images/icons/error.png");
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  opacity: 0; }

/*=============================================================================
	PIECE
=============================================================================*/
.PieceView {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  margin-top: -3px;
  margin-left: -3px;
  width: 41px;
  height: 41px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 10003;
  background: none; }

.PieceView.playing {
  pointer-events: none;
  cursor: default; }

#PieceViewCanvas {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  position: absolute;
  top: 3px;
  left: 3px;
  width: 35px;
  height: 35px;
  opacity: 0; }

#PieceViewCanvas.blue {
  background: url("../assets/images/piece/blue.png");
  background-size: 29px;
  background-position: 3px 3px; }

#PieceViewCanvas.red {
  background: url("../assets/images/piece/red.png");
  background-size: 29px;
  background-position: 3px 3px; }

#PieceViewCanvas.yellow {
  background: url("../assets/images/piece/yellow.png");
  background-size: 29px;
  background-position: 3px 3px; }

#PieceViewCanvas.green {
  background: url("../assets/images/piece/green.png");
  background-size: 29px;
  background-position: 3px 3px; }

#PieceViewCanvas.purple {
  background: url("../assets/images/piece/purple.png");
  background-size: 29px;
  background-position: 3px 3px; }

#PieceViewCanvas.pink {
  background: url("../assets/images/piece/pink.png");
  background-size: 29px;
  background-position: 3px 3px; }

.PieceView.active {
  background: url("../assets/images/pieceSelection/move.png");
  background-size: 99px 99px;
  width: 99px;
  height: 99px;
  margin-top: -32px;
  margin-left: -32px;
  z-index: 1000000; }

.PieceView.active #PieceViewCanvas {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  position: absolute;
  top: 32px;
  left: 32px;
  width: 35px;
  height: 35px; }

.PieceView.rotatable {
  background: url("../assets/images/pieceSelection/rotate.png");
  background-size: 99px 99px;
  width: 99px;
  height: 99px;
  margin-top: -32px;
  margin-left: -32px;
  z-index: 1000000; }

.PieceView.rotatable #PieceViewCanvas {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  position: absolute;
  top: 32px;
  left: 32px;
  width: 35px;
  height: 35px; }

/*=============================================================================
	PLAY BUTTON
=============================================================================*/
/* the play button */
#GameScreen #PlayButton {
  position: absolute;
  left: 15px;
  bottom: 18px;
  width: 51px;
  height: 51px;
  background-size: 51px 51px;
  cursor: pointer; }

#GameScreen #PlayButton.stopped {
  background-image: url("../assets/images/icons/play.png"); }

#GameScreen #PlayButton.stopped.active {
  background-image: url("../assets/images/icons/play_white.png"); }

#GameScreen #PlayButton.playing {
  background-image: url("../assets/images/icons/stop.png"); }

#GameScreen #PlayButton.playing.active {
  background-image: url("../assets/images/icons/stop_white.png"); }

#GameScreen #PlayButton.retry {
  background-image: url("../assets/images/icons/redo.png"); }

#GameScreen #PlayButton.retry.active {
  background-image: url("../assets/images/icons/redo_white.png"); }

/*=============================================================================
	PATTERN
=============================================================================*/
#GameScreen #PatternDisplay {
  position: absolute;
  overflow: visible;
  left: 9px;
  width: 302px; }
  @media (height: 480px) {
    #GameScreen #PatternDisplay {
      height: 48px; } }
  @media (min-height: 568px) {
    #GameScreen #PatternDisplay {
      height: 90px; } }
  @media (height: 480px) {
    #GameScreen #PatternDisplay {
      top: 38px; } }
  @media (min-height: 568px) {
    #GameScreen #PatternDisplay {
      top: 66px; } }

#PatternDisplay #PatternDisplayTarget {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }

#PatternDisplay .PatternBeatView {
  width: 100%;
  float: left;
  position: relative; }
  @media (height: 480px) {
    #PatternDisplay .PatternBeatView {
      height: 48px; } }
  @media (min-height: 568px) {
    #PatternDisplay .PatternBeatView {
      height: 90px; } }

#PatternDisplay .PatternBeatView * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1; }

#PatternDisplay .PatternBeatView .rest {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fffffd;
  opacity: 0;
  z-index: 0;
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }
  @media (height: 480px) {
    #PatternDisplay .PatternBeatView .rest {
      margin-top: -48px; } }
  @media (min-height: 568px) {
    #PatternDisplay .PatternBeatView .rest {
      margin-top: -90px; } }

#PatternDisplay .PatternBeatView .rest .restFlash {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fffffd;
  opacity: 0; }

#PatternDisplay .PatternBeatView .rested .restFlash {
  background-color: #333; }

#PatternDisplay .PatternBeatView .rested {
  background-color: #fffffd; }

#PatternDisplay .PatternNoteView {
  width: 100%;
  position: relative;
  opacity: 1;
  background-color: transparent;
  border: solid 1px transparent; }
  @media (height: 480px) {
    #PatternDisplay .PatternNoteView {
      height: 8px; } }
  @media (min-height: 568px) {
    #PatternDisplay .PatternNoteView {
      height: 15px; } }

#PatternDisplay .PatternNoteView .fill {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView .flash {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
  opacity: 0;
  background-color: #fffffd;
  z-index: 100000; }

@media (height: 480px) {
  #PatternDisplay .PatternNoteView .filled {
    border: 2px solid; } }
@media (min-height: 568px) {
  #PatternDisplay .PatternNoteView .filled {
    border: 3px solid; } }

@media (height: 480px) {
  #PatternDisplay .PatternNoteView .bordered {
    border: 2px solid; } }
@media (min-height: 568px) {
  #PatternDisplay .PatternNoteView .bordered {
    border: 3px solid; } }

#PatternDisplay .PatternNoteView.blue .filled {
  background-color: #02acee;
  border-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.blue .bordered {
  border-color: #02acee;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.blue .bordered.filled {
  border: 0px;
  background-color: #02acee; }

#PatternDisplay .PatternNoteView.red .filled {
  background-color: #ee1b21;
  border-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.red .bordered {
  border-color: #ee1b21;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.red .bordered.filled {
  border: 0px;
  background-color: #ee1b21; }

#PatternDisplay .PatternNoteView.yellow .filled {
  background-color: #f46e1e;
  border-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.yellow .bordered {
  border-color: #f46e1e;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.yellow .bordered.filled {
  border: 0px;
  background-color: #f46e1e; }

#PatternDisplay .PatternNoteView.green .filled {
  background-color: #00a550;
  border-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.green .bordered {
  border-color: #00a550;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.green .bordered.filled {
  border: 0px;
  background-color: #00a550; }

#PatternDisplay .PatternNoteView.purple .filled {
  background-color: #605ec2;
  border-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.purple .bordered {
  border-color: #605ec2;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.purple .bordered.filled {
  border: 0px;
  background-color: #605ec2; }

#PatternDisplay .PatternNoteView.pink .filled {
  background-color: #ed0189;
  border-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.pink .bordered {
  border-color: #ed0189;
  background-color: #a0a0a0; }

#PatternDisplay .PatternNoteView.pink .bordered.filled {
  border: 0px;
  background-color: #ed0189; }

/*=============================================================================
	TOP BAR
=============================================================================*/
#GameScreen #GameTopNav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: transparent;
  z-index: 0; }
  @media (height: 480px) {
    #GameScreen #GameTopNav {
      height: 40px; } }
  @media (min-height: 568px) {
    #GameScreen #GameTopNav {
      height: 51px; } }

#GameScreen #GameTopNav #Progress {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 50px;
  font-family: "Lato", sans-serif;
  font-size: 8pt;
  font-weight: 700;
  color: #a0a0a0; }
  @media (height: 480px) {
    #GameScreen #GameTopNav #Progress {
      top: 12px; } }
  @media (min-height: 568px) {
    #GameScreen #GameTopNav #Progress {
      top: 18px; } }

#GameScreen #GameTopNav #Moves {
  position: absolute;
  width: 80px;
  height: 20px;
  right: 0px;
  font-family: "Lato", sans-serif;
  font-size: 8pt;
  font-weight: 700;
  color: #a0a0a0; }
  @media (height: 480px) {
    #GameScreen #GameTopNav #Moves {
      top: 12px; } }
  @media (min-height: 568px) {
    #GameScreen #GameTopNav #Moves {
      top: 18px; } }

#SongsScreen {
  /*background-color : $screenBackground;*/
  opacity: 0;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-weight: 300;
  /*background: linear-gradient(
  	rgba(251, 241, 82, 0.1), 
  	rgba(6, 174, 230, 0.1)
  ), url("../assets/images/backgrounds/checker.png");*/
  background: url("../assets/images/backgrounds/checker.png"); }

#SongsScreen .ButtonTextContainer {
  display: table-cell;
  margin-top: 0px;
  padding: 0px 2px;
  line-height: 25px; }

#SongsScreen #SongButtons {
  position: relative;
  top: 0px; }

#SongsScreen #icon-question-sign {
  font-size: 30px; }

#SongsScreen .Button:active {
  color: #212122; }

#SongsScreen .Button.blue {
  background-color: #02acee;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#SongsScreen .Button.red {
  background-color: #ee1b21;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#SongsScreen .Button.yellow {
  background-color: #f46e1e;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#SongsScreen .Button.green {
  background-color: #00a550;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#SongsScreen .Button.purple {
  background-color: #605ec2;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#SongsScreen .Button.pink {
  background-color: #ed0189;
  width: 312px;
  display: table;
  border-radius: 0px;
  margin: 4px 4px 0px;
  height: 60px; }

#TopNav {
  color: #212122;
  width: 100%;
  background-color: transparent; }
  @media (height: 480px) {
    #TopNav {
      height: 40px; } }
  @media (min-height: 568px) {
    #TopNav {
      height: 51px; } }

#TopNav #Title {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-weight: 300;
  z-index: 0; }
  @media (height: 480px) {
    #TopNav #Title {
      margin-top: 3px; } }
  @media (min-height: 568px) {
    #TopNav #Title {
      margin-top: 9px; } }

#TopNav .ButtonContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; }

#GameOverInterstitial {
  width: 100%;
  position: absolute;
  z-index: 10001;
  left: 0px; }
  @media (height: 480px) {
    #GameOverInterstitial {
      top: -70px;
      height: 550px; } }
  @media (min-height: 568px) {
    #GameOverInterstitial {
      top: 0px;
      height: 100%; } }

#GameOverInterstitial.blue #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
  z-index: 0;
  background-color: #02acee; }

#GameOverInterstitial.blue #Background {
  background: url("../assets/images/popup/blue.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 320px 600px;
  width: 320px;
  height: 600px;
  opacity: .65;
  z-index: -1; }

#GameOverInterstitial.red #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
  z-index: 0;
  background-color: #ee1b21; }

#GameOverInterstitial.red #Background {
  background: url("../assets/images/popup/red.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 320px 600px;
  width: 320px;
  height: 600px;
  opacity: .65;
  z-index: -1; }

#GameOverInterstitial.yellow #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
  z-index: 0;
  background-color: #f46e1e; }

#GameOverInterstitial.yellow #Background {
  background: url("../assets/images/popup/yellow.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 320px 600px;
  width: 320px;
  height: 600px;
  opacity: .65;
  z-index: -1; }

#GameOverInterstitial.green #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
  z-index: 0;
  background-color: #00a550; }

#GameOverInterstitial.green #Background {
  background: url("../assets/images/popup/green.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 320px 600px;
  width: 320px;
  height: 600px;
  opacity: .65;
  z-index: -1; }

#GameOverInterstitial.purple #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
  z-index: 0;
  background-color: #605ec2; }

#GameOverInterstitial.purple #Background {
  background: url("../assets/images/popup/purple.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 320px 600px;
  width: 320px;
  height: 600px;
  opacity: .65;
  z-index: -1; }

#GameOverInterstitial.pink #Blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
  z-index: 0;
  background-color: #ed0189; }

#GameOverInterstitial.pink #Background {
  background: url("../assets/images/popup/pink.png");
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: 320px 600px;
  width: 320px;
  height: 600px;
  opacity: .65;
  z-index: -1; }

#GameOverInterstitial #Dialog {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 320px;
  height: 600px; }

#GameOverInterstitial #Title {
  color: #fffffd;
  font-family: "Lato", sans-serif;
  font-size: 32pt;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  top: 62px;
  width: 100%;
  left: 0px;
  text-align: center; }

#GameOverInterstitial #Text {
  color: #fffffd;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  position: absolute;
  width: 100%;
  left: 0px;
  text-align: center;
  white-space: pre; }
  @media (height: 480px) {
    #GameOverInterstitial #Text {
      top: 386px; } }
  @media (min-height: 568px) {
    #GameOverInterstitial #Text {
      top: 400px; } }

#GameOverInterstitial .GameOverInterstitialButton {
  position: absolute;
  cursor: pointer;
  width: 51px;
  height: 51px;
  background-size: 51px 51px; }
  @media (height: 480px) {
    #GameOverInterstitial .GameOverInterstitialButton {
      top: 410px; } }
  @media (min-height: 568px) {
    #GameOverInterstitial .GameOverInterstitialButton {
      top: 428px; } }

#GameOverInterstitial #Dialog #NextSong {
  background: url("../assets/images/icons/forward.png");
  background-size: 51px 51px;
  right: 80px; }

#GameOverInterstitial #Dialog #NextSong:active {
  background: url("../assets/images/icons/forward_white.png");
  background-size: 51px 51px; }

#GameOverInterstitial #Dialog #PlayAgain {
  background: url("../assets/images/icons/redo.png");
  background-size: 51px 51px;
  left: 80px; }

#GameOverInterstitial #Dialog #PlayAgain:active {
  background: url("../assets/images/icons/redo_white.png");
  background-size: 51px 51px; }

/*
	GLOBALS
*/
body {
  width: 320px;
  margin: 0px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  /* a scale hack*/
  	/*transform: scale(.5);
     -webkit-transform: scale(.5);
     -ms-transform: scale(.5);
     -moz-transform: scale(.5);*/ }
  @media (min-height: 568px) {
    body {
      height: 568px; } }
  @media (height: 480px) {
    body {
      height: 480px; } }
