/*=============================================================================
IMPORTS
=============================================================================*/

@import "grid";
@import "partsscreen";
@import "splashscreen";
@import "gamescreen";
@import "songscreen";
@import "topnav";
@import "screentext";
@import "gameoverinterstitial";

/*
	GLOBALS
*/

body {
	width: $screenWidth;
	@include screenHeight;
	margin: 0px;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	overflow: hidden;
	/* a scale hack*/
	/*transform: scale(.5);
   -webkit-transform: scale(.5);
   -ms-transform: scale(.5);
   -moz-transform: scale(.5);*/
}

