$patternDisplayHeight : $buttonHeight - 2px;
$partsScreenButtonMargin : 4px;
$partsScreenButtonWidth : $screenWidth - $partsScreenButtonMargin * 2;

#PartsScreen {
	/*background-color : $screenBackground;*/
	opacity: 0;
	color: $white;
	@include bigFont;
	/*background: url("../assets/images/splash/stripe.png");*/
	@include checkerBackground;
}

#PartsScreen .ButtonTextContainer {
	display: table-cell;
	margin-top: 0px;
	line-height: 26px;
	width: 100%;
	height: 100%;
}

$ScrollBarSize : 15px;

#PartsScreen #PartsButtons {
	position: relative;
	top: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	width: $screenWidth + $ScrollBarSize;
	@include respond-to(iphone4) {
		height: 355px;
	}
	@include respond-to(iphone5) {
		height: 430px;
	}
}

/*=============================================================================
	PLAY BUTTON
=============================================================================*/

#PartsScreen #PartsPlayButton {
	position: absolute;
	left: $screenWidth / 2 - $buttonImageSize / 2;
	bottom: 18px;
	@include buttonImage;
	cursor: pointer;
	background-image : url("../assets/images/icons/play.png");
	opacity: 0;
}

#PartsScreen #PartsPlayButton .ButtonTextContainer {
	@include tinyFont;
	position: absolute;
	width: 51px;
	top: 52px;
	left: 0px;
	text-align: center;
	color: black;
}

#PartsScreen #PartsPlayButton {
	position: absolute;
	left: $screenWidth / 2 - $buttonImageSize / 2;
	bottom: 18px;
	@include buttonImage;
	cursor: pointer;
	background-image : url("../assets/images/icons/play.png");
}

#PartsScreen #PartsPlayButton.active {
	background-image : url("../assets/images/icons/play_white.png");
}

#PartsScreen #PartsPlayButton.playing {
	background-image : url("../assets/images/icons/stop.png");
}

#PartsScreen #PartsPlayButton.playing.active {
	background-image : url("../assets/images/icons/stop_white.png");
}


/*=============================================================================
	BUTTONS
=============================================================================*/

@mixin PartsScreenButtonIcon {
	position: absolute;
	top:  ($buttonHeight - $buttonImageSize) / 2;
	left: $screenWidth / 2 - $buttonImageSize / 2 - $partsScreenButtonMargin;
}

#PartsScreen #PartsButtons .Button.locked .ButtonIcon{
	background: url("../assets/images/icons/lock_white.png");
	@include buttonImage;
	background-position: 50%;
	background-repeat: no-repeat;
	@include PartsScreenButtonIcon;
}

#PartsScreen #PartsButtons .Button.locked{
	opacity: .3;
}


#PartsScreen #PartsButtons .Button.playable .ButtonIcon{
	background: url("../assets/images/icons/forward_white.png");
	@include buttonImage;
	background-position: 50%;
	background-repeat: no-repeat;
	@include PartsScreenButtonIcon;
}

#PartsScreen #PartsButtons .Button{
	@include opacityTransition;
}

#PartsScreen #PartsButtons .Button.active {
	opacity: .1!important;
	@include opacityTransition;
}


#PartsScreen #PartsButtons .ButtonContent{
	@include topLeft;
	@include hundredPercent;
}

$PartsScreenTinyTextMargin : 4px;

#PartsScreen .Button .StatusText {
	@include tinyFont;
	color: $white;
	position: absolute;
	top: $PartsScreenTinyTextMargin;
	right: $PartsScreenTinyTextMargin;
}

#PartsScreen .Button .OutOf {
	@include tinyFont;
	color: $white;
	position: absolute;
	top: $PartsScreenTinyTextMargin;
	left: $PartsScreenTinyTextMargin;
}

#PartsScreen .Button #Playing {
	$PlayingButtonSize : 30px;
	@include centeredAbsolute($PlayingButtonSize, $PlayingButtonSize);
	background-image : url("../assets/images/icons/play_white.png");
	background-size: $PlayingButtonSize $PlayingButtonSize;
	opacity: 0;
}

#PartsScreen .Button .Stars {
	@include topLeft;
	@include hundredPercent;
	color: $white;
	text-align: center;
	line-height: $buttonImageSize + $partsScreenButtonMargin;
}

#PartsScreen #PartsButtons .Button {
	position: relative;
	width: $partsScreenButtonWidth;
	display: table;
	border-radius: 0px;
	margin: $partsScreenButtonMargin $partsScreenButtonMargin 0px;
	height: $buttonHeight;
}

@each $color in $colorStrings {
	.#{$color} #PartsButtons .Button .Background {
		position: absolute;
		background-color: colorStringToValue($color);
		width:100%;
		height: 100%;
	}
}

/*=============================================================================
	PATTERN
=============================================================================*/

$PartsScreenPatternDisplayMargin : 6px;
$PartsScreenPatternHeight : $patternDisplayHeight - $PartsScreenPatternDisplayMargin * 2;

#PartsScreen #PartsButtons .Button #PatternDisplay {
	position: absolute;
	top: $PartsScreenPatternDisplayMargin;
	left: $PartsScreenPatternDisplayMargin;
	background-color: transparent;
	width: $partsScreenButtonWidth - $PartsScreenPatternDisplayMargin * 2;
	opacity: 0;
	height: $PartsScreenPatternHeight;
}

#PartsScreen #PatternDisplay .PatternNoteView {
	height: $PartsScreenPatternHeight / 6;
	width: 100%;
	position: relative;
	opacity: 1;
	background-color: transparent;
	border: solid 1px $gray;
}

#PartsScreen #PatternDisplay .PatternBeatView {
	width: 100%;
	height: $PartsScreenPatternHeight;
	float: left;
	position: relative;
}

#PartsScreen #PatternDisplay .PatternBeatView .rest {
	height: 0px;
}

#PartsScreen #PatternDisplay .PatternBeatView {
	width: 100%;
	height: $PartsScreenPatternHeight;
	float: left;
	position: relative;
}

#PartsScreen #PatternDisplay .PatternNoteView .fill {
	@include topLeft;
	width: 100%;
	height: 100%;
	border: 0px;
	background-color: $offWhite;
}

@each $color in $colorStrings {
	#PartsScreen #PatternDisplay .PatternNoteView.#{$color} .filled{
		background-color: colorStringToValue($color);
	}
}

/*=============================================================================
	LOADING SCREEN
=============================================================================*/

#PartsScreen #LoadingScreen {
	@include topLeft;
	@include hundredPercent;
	@include OnTopOfEverything;
	background-color: $blue;
	opacity: 0;
	display: none;
}

#PartsScreen #LoadingScreen.visible {
	opacity: 1;
	display: block;
}

$PartsScreenLoadingScreenRotate : rotate360 2s linear infinite;

#PartsScreen #LoadingScreen #Spinner{
	@include centeredAbsolute($buttonImageSize, $buttonImageSize);
	background : url("../assets/images/piece/red.png");
	@include buttonImage;
	animation: $PartsScreenLoadingScreenRotate;
	-webkit-animation: $PartsScreenLoadingScreenRotate;
}

#PartsScreen #LoadingScreen #Text{
	@include smallFont;
	position: absolute;
	width: 100%;
	text-align: center;
	top : 425px;
	left: 0px;
	color: $white;
}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate360 {
	from {
		-webkit-transform: rotate(0deg);
	}
	from {
		-webkit-transform: rotate(360deg);
	}
}