
$partsScreenButtonMargin : 4px;
$partsScreenButtonWidth : $screenWidth - $partsScreenButtonMargin * 2;
$playButtonHeight : 100px;

#PartsScreen {
	/*background-color : $screenBackground;*/
	opacity: 0;
	color: $white;
	/*background: url("../assets/images/splash/stripe.png");*/
	@include checkerBackground;
}

#PartsScreen .ButtonTextContainer {
	display: table-cell;
	margin-top: 0px;
	line-height: 26px;
	width: 100%;
	height: 100%;
}

$ScrollBarSize : 15px;

#PartsScreen #PartsButtons {
	position: relative;
	top: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	width: calc(100% + 15px);
	height: 70%;
}

/*=============================================================================
	PLAY BUTTON
=============================================================================*/

#PartsScreen #PartsPlayButtonContainer {
	width: 100%;
	@include respond-to(small){
		height: calc(30% - 60px);
	}
	@include respond-to(medium){
		height: calc(30% - 80px);
	}
	@include respond-to(large){
		height: calc(30% - 90px);
	}
	min-height: 60px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}


#PartsScreen #PartsPlayButtonContainer #PartsPlayButton {
	cursor: pointer;
	background-image : url("../assets/images/icons/play.png");
	@include centeredAbsoluteTransform(50px, 50px);
	@include buttonImage;
}

#PartsScreen #PartsPlayButtonContainer #PartsPlayButton.active {
	background-image : url("../assets/images/icons/play_white.png");
}

#PartsScreen #PartsPlayButtonContainer #PartsPlayButton.playing {
	background-image : url("../assets/images/icons/stop.png");
}

#PartsScreen #PartsPlayButtonContainer #PartsPlayButton.playing.active {
	background-image : url("../assets/images/icons/stop_white.png");
}

#PartsScreen #PartsPlayButton .ButtonTextContainer {
	@include tinyFont;
	position: absolute;
	width: 200%;
	top: 100%;
	left: -50%;
	text-align: center;
	color: $black;
}

#PartsScreen #PartsPlayButtonContainer #PartsPlayButton.loading {
	background-image : none;
	pointer-events: none;
	@include centeredAbsolute(55px, 55px);
	font-size: 59px;
}

#PartsScreen #PartsPlayButtonContainer #PartsPlayButton.loading .ButtonTextContainer{
	display: none;
}


/*=============================================================================
	BUTTONS
=============================================================================*/

@mixin PartsScreenButtonIcon {
	position: absolute;
	top:  ($buttonHeight - $buttonImageSize) / 2;
	left: $screenWidth / 2 - $buttonImageSize / 2 - $partsScreenButtonMargin;
}

#PartsScreen #PartsButtons .Button {
	position: relative;
	width: calc(100% - 8px - 15px);
	display: table;
	border-radius: 0px;
	margin: $partsScreenButtonMargin $partsScreenButtonMargin 0px;
	@include respond-to(small){
		height: 60px;
	}
	@include respond-to(medium){
		height: 80px;
	}
	@include respond-to(large){
		height: 90px;
	}
}

/*ALL THE COLORS*/
@each $color in $colorStrings {
	.#{$color} #PartsButtons .Button .Background {
		position : absolute;
		background-color: colorStringToValue($color);
		background-size: auto 80%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}
}

#PartsButtons .Button.playable .Background{
	background-image: url("../assets/images/icons/forward_white.png");
}

#PartsButtons .Button.locked .Background{
	background-image: url("../assets/images/icons/lock_white.png");
}

/*no more timeout*/
#PartsScreen #PartsButtons .Button.timeout .ButtonIcon:before{
	content : "\f017";
	font-size: 60px;
	top: -4px;
	position: absolute;
}

#PartsScreen #PartsButtons .Button.locked{
	opacity: .3;
}

@mixin widthTransition {
	transition: width .2s;
	-webkit-transition: width .2s;
}

#PartsScreen #PartsButtons .Button #MuteIndicator{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: $black;
	opacity: .2;
	width: 0px;
	height: 100%;
	@include widthTransition;
}

#PartsScreen #PartsButtons .Button #MuteIndicator.muted{
	width: 28px;
	@include widthTransition;
}

#PartsScreen #PartsButtons .Button{
	@include opacityTransition;
}

#PartsScreen #PartsButtons .Button.active {
	opacity: .1!important;
	@include opacityTransition;
}


#PartsScreen #PartsButtons .ButtonContent{
	@include topLeft;
	@include hundredPercent;
}

$PartsScreenTinyTextMargin : 4px;

#PartsScreen .Button .StatusText {
	@include tinyFont;
	color: $white;
	position: absolute;
	top: $PartsScreenTinyTextMargin;
	right: $PartsScreenTinyTextMargin;
	z-index: 10;
}

#PartsScreen .Button .OutOf {
	@include tinyFont;
	color: $white;
	position: absolute;
	top: $PartsScreenTinyTextMargin;
	left: $PartsScreenTinyTextMargin;
}

#PartsScreen .Button #Playing {
	color: $white;
	position: absolute;
	top: $PartsScreenTinyTextMargin;
	right: $PartsScreenTinyTextMargin;
	@include respond-to(small){
		width: 18px;
		height: 18px;
		font-size: 18px;
	}
	@include respond-to(medium){
		width: 22px;
		height: 22px;
		font-size: 22px;
	}
	@include respond-to(large){
		width: 26px;
		height: 26px;
		font-size: 26px;
	}
	z-index: 10;
	opacity: 0;
}

#PartsScreen .Button .Stars {
	@include topLeft;
	@include hundredPercent;
	color: $white;
	text-align: center;
	@include bigFont;
	@include respond-to(small){
		line-height: 60px;
	}
	@include respond-to(medium){
		line-height: 80px;
	}
	@include respond-to(large){
		line-height: 90px;
	}
}

/*=============================================================================
	PATTERN
=============================================================================*/

$PatternDisplayHeight : 48px;
$PartsScreenPatternSize : 60px;

#PartsScreen #PartsButtons .Button #PartsScreenButtonPattern{
	background-color: rgba($white, .6);
	border : 1px solid rgba($white, .6);
	@include centeredAbsoluteTransform(20%, 84%);
	opacity: 0;
}


#PartsScreen #PartsButtons .Button #PartsScreenButtonPattern.visible{
	opacity: 1;
	@include opacityTransition;
}

$PartsScreenPatternFillBorder : 1px;
$PartsScreenPatternHeight : $PatternDisplayHeight / 6;

#PartsScreen #PartsScreenButtonPattern .Piece {
	position: relative;
	display: block;
	width: calc(100%);
	height: calc(100% / 6);
	margin: 0px;
	opacity: 1;
}

@mixin PartsScreenPatternFillSize {
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}

#PartsScreen #PartsScreenButtonPattern .Piece #Boomerang {
	@include PartsScreenPatternFillSize;
	opacity: .1;
}

#PartsScreen #PartsScreenButtonPattern .Piece .Fill {
	@include PartsScreenPatternFillSize;
	opacity: 0;
}

@each $color in $colorStrings {

	#PartsScreen #PartsScreenButtonPattern .Piece.#{$color} #Boomerang {
		background-color: colorStringToValue($color);
	}

	#PartsScreen #PartsScreenButtonPattern .Piece.#{$color} .Fill {
		background-color: colorStringToValue($color);
	}
}

/*=============================================================================
	LOADING SCREEN
=============================================================================*/

#PartsScreen #LoadingScreen {
	@include topLeft;
	@include hundredPercent;
	@include OnTopOfEverything;
	background-color: rgba($blue, .7);
	opacity: 0;
	pointer-events : none;
	@include opacityTransition;
}

#PartsScreen #LoadingScreen.visible {
	opacity: 1;
	pointer-events : visiblePainted;
	@include opacityTransition;
}

$PartsScreenLoadingScreenRotate : rotate360 2s linear infinite;

#PartsScreen #LoadingScreen #Spinner{
	@include centeredAbsolute($buttonImageSize, $buttonImageSize);
	background : url("../assets/images/piece/red.png");
	@include buttonImage;
	animation: $PartsScreenLoadingScreenRotate;
	-webkit-animation: $PartsScreenLoadingScreenRotate;
}

#PartsScreen #LoadingScreen #Text{
	@include mediumFont;
	position: absolute;
	width: 100%;
	text-align: center;
	top : 425px;
	left: 0px;
	color: $black;
}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate360 {
	from {
		-webkit-transform: rotate(0deg);
	}
	from {
		-webkit-transform: rotate(360deg);
	}
}