$ScreenTextTextFadeDuration : .8s;

@mixin SemiTransparent {
	opacity: 0.7;
}

@keyframes blockerFadeIn {
	from {opacity: 0;}
	to {opacity: .7;}
}

@-webkit-keyframes blockerFadeIn {
	from {opacity: 0;}
	to {opacity: .7;}
}


@mixin CircleBackground($CircleSize){
	background-color : $seafoam;
	color: $white;
	width: $CircleSize;
	height: $CircleSize;
	border-radius : $CircleSize / 2;
	line-height: $CircleSize;
}

@mixin ScreenTextFade{
	transition: opacity $ScreenTextTextFadeDuration;
	-webkit-transition: opacity $ScreenTextTextFadeDuration;
}

#ScreenText {
	background-color: transparent;
	@include OnTopOfEverything;
	pointer-events : none;
	@include ScreenTextFade;
}

#ScreenText #Background {
	@include topLeft;
	@include hundredPercent;
	background-color: $black;
	opacity: 0;
	@include ScreenTextFade;
}

#ScreenText #Background.visible {
	background-color: $black;
	@include SemiTransparent;
	@include ScreenTextFade;
}

#ScreenText .ScreenTextContainer{
	@include topLeft;
	@include hundredPercent;
	opacity: 0;
	@include ScreenTextFade;
}

#ScreenText .ScreenTextContainer.visible {
	opacity: .8;
	@include ScreenTextFade;
}

#ScreenText .ScreenTextContainer.SemiTransparent {
	opacity: 1;
	@include ScreenTextFade;
}

#ScreenText .OnScreenText{
	position: absolute;
	font-family: $font-family;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: 300;
}


/*=============================================================================
	SONG SCREEN
=============================================================================*/


#ScreenText #SongScreenClickHere{
	@include respond-to(iphone4) {
		top: 118px;
	}
	@include respond-to(iphone5) {
		top: 166px;
	}
	$CircleSize : 200px;
	@include CircleBackground($CircleSize);
	font-size: 30px;
	left : ($screenWidth - $CircleSize) / 2;
}

#ScreenText #SongScreenBottomText{
	@include respond-to(iphone4) {
		top: 410px;
	}
	@include respond-to(iphone5) {
		top: 460px;
	}
	color : $seafoam;
	font-size: 22px;
}

/*=============================================================================
	PARTS SCREEN
=============================================================================*/

#ScreenText #PartsScreenText {
	bottom: 60px;
	color : $seafoam;
	font-size: 22px;
}

/*=============================================================================
	GAME SCREEN
=============================================================================*/
#ScreenText #GameScreenRetry {
	@include respond-to(iphone4) {
		top: 112px;
	}
	@include respond-to(iphone5) {
		top: 194px;
	}
	color : $red;
	font-size: 20px;
}

@mixin DragAnimationContents {
	0% {
		opacity: 0;
		bottom: 10px;
		left: 75px;
		transform : translate( 0px, 0px) scale(.2);
		-webkit-transform : translate( 0px, 0px) scale(.2);
	}
	10% {
		opacity: .7;
		bottom: 10px;
		left: 75px;
		transform : translate( 0px, 0px) scale(1);
		-webkit-transform : translate( 0px, 0px) scale(1);
	}
	60% {
		opacity: .7;
		transform : translate( -5px, -205px) scale(1);
		-webkit-transform : translate( 0px, -215px) scale(1);
	}
	80% {
		opacity: 0;
		transform : translate( -5px, -205px) scale(.2);
		-webkit-transform : translate( 0px, -215px) scale(.2);
	}
	100% {
		opacity: 0;
		transform : translate( 0px, 0px) scale(0);
		-webkit-transform : translate( 0px, 0px) scale(0);
	}
}

@keyframes DragAnimation {
	@include DragAnimationContents;
}

@-webkit-keyframes DragAnimation {
	@include DragAnimationContents;
}

#ScreenText #GameScreenPieceDrag {
	$CircleSize : $tileSize * 2;
	@include CircleBackground($CircleSize);
	animation : DragAnimation 1.5s 2s infinite;
	-webkit-animation : DragAnimation 1.5s 2s infinite;
	opacity: 0;
	bottom: 10px;
	left: 75px;
}

@mixin DragToRotateAnimationContents {
	0% {
		opacity: 0;
		bottom: 10px;
		left: 75px;
		transform : translate( 0px, 0px) scale(.2);
		-webkit-transform : translate( 0px, 0px) scale(.2);
	}
	10% {
		opacity: .7;
		bottom: 10px;
		left: 75px;
		transform : translate( 0px, 0px) scale(1);
		-webkit-transform : translate( 0px, 0px) scale(1);
	}
	60% {
		opacity: .7;
		transform : translate( 30px, -250px) scale(1);
		-webkit-transform : translate( 30px, -250px) scale(1);
	}
	80% {
		opacity: 0;
		transform : translate( 30px, -250px) scale(.2);
		-webkit-transform : translate( 30px, -250px) scale(.2);
	}
	100% {
		opacity: 0;
		transform : translate( 0px, 0px) scale(0);
		-webkit-transform : translate( 0px, 0px) scale(0);
	}
}

@keyframes DragToRotateAnimation {
	@include DragToRotateAnimationContents;
}

@-webkit-keyframes DragToRotateAnimation {
	@include DragToRotateAnimationContents;
}

#ScreenText #GameScreenPieceDragToRotate {
	$CircleSize : $tileSize * 2;
	@include CircleBackground($CircleSize);
	animation : DragToRotateAnimation 1.5s 2s infinite;
	-webkit-animation : DragToRotateAnimation 1.5s 2s infinite;
	opacity: 0;
	bottom: 10px;
	left: 75px;
}

@mixin RotateAnimationContents {
	0% {
		opacity: 0;
		transform : translate( 0px, 0px) scale(.2);
		-webkit-transform : translate( 0px, 0px) scale(.2);
	}
	10% {
		opacity: .7;
		transform : translate( 0px, 0px) scale(1);
		-webkit-transform : translate( 0px, 0px) scale(1);
	}
	20% {
		opacity: 0;
		transform : translate( 0px, 0px) scale(.2);
		-webkit-transform : translate( 0px, 0px) scale(.2);
	}
	40% {
		opacity: .7;
		transform : translate( 0px, 0px) scale(1);
		-webkit-transform : translate( 0px, 0px) scale(1);
	}
	50% {
		opacity: .7;
		transform : translate( 0px, 0px) scale(1);
		-webkit-transform : translate( 0px, 0px) scale(1);
	}
	80% {
		opacity: .7;
		transform : translate( 0px, -100px) scale(1);
		-webkit-transform : translate( 0px, -100px) scale(1);
	}
	100% {
		opacity: 0;
		transform : translate( 0px, -100px) scale(1);
		-webkit-transform : translate( 0px, -100px) scale(1);
	}
}

@keyframes PieceRotateAnimation {
	@include RotateAnimationContents;
}

@-webkit-keyframes PieceRotateAnimation {
	@include RotateAnimationContents;
}

#ScreenText #GameScreenPieceRotate {
	$CircleSize : $tileSize * 2;
	@include CircleBackground($CircleSize);
	animation : PieceRotateAnimation 1.5s infinite;
	-webkit-animation : PieceRotateAnimation 1.5s infinite;
	opacity: 0;
	bottom: 255px;
	left: 105px;
}

#ScreenText #DragRotateInstructions {
	bottom: 140px;
	color : $black;
	font-size: 20px;
	left: 20px;
	width: $screenWidth - 40px;
}

#ScreenText #GameInstruction {
	@include respond-to(iphone4) {
		top: 100px
	}
	@include respond-to(iphone5) {
		top: 160px;
	}
	width: $screenWidth - 40px;
	left: 20px;
	@include mediumFont;
	line-height : 26px;
	font-weight: 300;
	color: $white;
	white-space: pre-wrap;
}

#ScreenText #BoardText {
	@include respond-to(iphone4) {
		top: 112px;
	}
	@include respond-to(iphone5) {
		top: 194px;
	}
	width: $screenWidth - 40px;
	left: 20px;
	@include mediumFont;
	font-weight: 300;
	color: $black;
}

#ScreenText #ButtonHighlight {
	$CircleSize : 61px;
	@include CircleBackground($CircleSize);
	bottom: 14px;
	left: 10px;
	color: $white;
}

#ScreenText #NextButtonHighlight {
	$CircleSize : 61px;
	@include CircleBackground($CircleSize);
	bottom: 14px;
	right: 75px;
	color: $white;
}

#ScreenText #PrevButtonHighlight {
	$CircleSize : 61px;
	@include CircleBackground($CircleSize);
	bottom: 14px;
	left: 75px;
	color: $white;
}

@mixin BoardNumbersScreenText {
	position: absolute;
	@include respond-to(iphone4) {
		top: 212px
	}
	@include respond-to(iphone5) {
		top: 295px;
	}
	left: 90px;
	width: $tileSize;
	height: $tileSize;
	padding-left: 0px;
	line-height: $tileSize;
	color: $seafoam;
}

#ScreenText #BoardOne {
	@include BoardNumbersScreenText;
	padding-left: $tileSize * 0;
}

#ScreenText #BoardTwo {
	@include BoardNumbersScreenText;
	padding-left: $tileSize * 1;
}

#ScreenText #BoardThree {
	@include BoardNumbersScreenText;
	padding-left: $tileSize * 2;
}

#ScreenText #BoardFour {
	@include BoardNumbersScreenText;
	padding-left: $tileSize * 3;
}

$PatternNumberBeatWidth : 75px;

@mixin PatternNumbersScreenText {
	position: absolute;
	@include respond-to(iphone4) {
		top: 32px
	}
	@include respond-to(iphone5) {
		top: 90px;
	}
	left: 9px;
	width: $PatternNumberBeatWidth;
	height: $PatternNumberBeatWidth;
	padding-left: 0px;
	line-height: $PatternNumberBeatWidth;
	text-align : center;
	color: $seafoam;
	font-size: 40px;
}

#ScreenText #PatternOne {
	@include PatternNumbersScreenText;
	padding-left: $PatternNumberBeatWidth * 0;
}

#ScreenText #PatternTwo {
	@include PatternNumbersScreenText;
	padding-left: $PatternNumberBeatWidth * 1;
}

#ScreenText #PatternThree {
	@include PatternNumbersScreenText;
	padding-left: $PatternNumberBeatWidth * 2;
}

#ScreenText #PatternFour {
	@include PatternNumbersScreenText;
	padding-left: $PatternNumberBeatWidth * 3;
}

#ScreenText #PartsScreenPlayButton {
	$CircleSize : 61px;
	@include CircleBackground($CircleSize);
	bottom: 14px;
	left: ($screenWidth - $CircleSize) / 2;
	color: $white;
}

/*=============================================================================
	INSTRUTIONS
=============================================================================*/


#ScreenText #TheInstructions {
	position: absolute;
	font-family: $font-family;
	text-align: center;
	@include respond-to(iphone4) {
		top: 150px
	}
	@include respond-to(iphone5) {
		top: 240px;
	}
	width: $screenWidth - 40px;
	height: 20px;
	left: 20px;
	@include mediumFont;
	line-height : 26px;
	font-weight: 300;
	color: $white;
	white-space: pre-wrap;
}


#ScreenText #TutorialInstructions {
	@include topLeft;
	@include hundredPercent;
	background-color: $black;
	opacity: 0;
	@include ScreenTextFade;
	pointer-events : none;
}

#ScreenText #TutorialInstructions.visible {
	background-color: $black;
	@include SemiTransparent;
	@include ScreenTextFade;
	pointer-events : visiblePainted;
}

#ScreenText #TutorialInstructions #ToPartsScreen {
	border-radius: 0px;
	@include tinyFont;
}

#ScreenText .Normal .ThePieces {
	visibility: visible;
	@include respond-to(iphone4) {
		margin-top: 87px;
	}
	@include respond-to(iphone5) {
		margin-top: 170px;
	}
}

#ScreenText .FreePlay .ThePieces {
	visibility: hidden;
}

#ScreenText .FreePlay #PatternDisplay {
	visibility: hidden;
}

#ScreenText .Normal #PatternDisplay {
	visibility: visible;
}

#ScreenText #TutorialInstructions .HighlightInstruction {
	background-color: $seafoam;
	opacity: .7;
	font-family: $font-family;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	line-height: 60px;
	color : $white;
}

#ScreenText #TakesHighlight{
	@include respond-to(iphone4) {
		top: 0px;
	}
	@include respond-to(iphone5) {
		top: 10px;
	}
	left: 50%;
	width: 90px;
	height: 30px;
	margin-left: -45px;
	background-color: $seafoam;
	opacity: .7;
}

#ScreenText #BackButtonHighlight{
	@include respond-to(iphone4) {
		top: 0px;
	}
	@include respond-to(iphone5) {
		top: 8px;
	}
	left: 8px;
	@include CircleBackground(37px);
}
