#SongsScreen {
	/*background-color : $screenBackground;*/
	opacity: 0;
	@include bigFont;
	@include gradientBackground;
}

#SongsScreen #Title {

}

#SongsScreen .ButtonTextContainer {
	display: table-cell;
	margin-top: 0px;
	padding: 0px 2px;
	line-height: 25px;
}

#SongsScreen #SongButtons {
	position: relative;
	top: 0px;
}

#SongsScreen #icon-question-sign {
	font-size: 30px;
}

$songScreenButtonMargin : 4px;


@mixin songScreenButton {
	
}

#SongsScreen .Button:active {
	color: $black;
}

@each $color in $colorStrings {
	#SongsScreen .Button.#{$color} {
		background-color: colorStringToValue($color);
		width: $screenWidth - $songScreenButtonMargin * 2;
		display: table;
		border-radius: 0px;
		margin: $songScreenButtonMargin $songScreenButtonMargin 0px;
		height: $buttonHeight;
	}
}