#SongsScreen {
	/*background-color : $screenBackground;*/
	opacity: 0;
	@include bigFont;
	@include checkerBackground;
}

#SongsScreen #SongButtonContainer  {
	position: absolute;
	overflow: hidden;
	@include centeredAbsoluteTransform(100%, 100%);
}

/*=============================================================================
	NAVIGATION
=============================================================================*/


#SongsScreen .NavButton {
	background : url("../assets/images/icons/back.png");
	@include buttonImage;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	opacity: .5;
	top: 50%;
	margin-top: -40px;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	pointer-events: visiblePainted;
}

#SongsScreen .NavButton.invisible {
	opacity: 0;
	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	pointer-events: none;
}

#SongsScreen .NavButton.active {
	background : url("../assets/images/icons/back_white.png");
	@include buttonImage;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

#SongsScreen #LeftButton {
	left: 0px;
}

#SongsScreen #RightButton {
	right: 0px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

/*=============================================================================
	SONG SCREEN BUTTONS
=============================================================================*/


$SongsScreenButtonMargin : 34px;
$SongsScreenButtonWidth : calc(80%/3);

#SongsScreen #SongButtonContainer #SongButtons{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

@mixin buttonPositionTransition{
	transition: opacity .2s, left .2s ease-in-out;
	-webkit-transition: opacity .2s, left .2s ease-in-out;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: 70%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	@include buttonPositionTransition;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton.offRight {
	left: 200%;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton.right {
	left: 121%;
	@include buttonPositionTransition;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton.center {
	left: 49%;
	@include buttonPositionTransition;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton.left {
	left: -25%;
	@include buttonPositionTransition;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton.offLeft {
	left: -100%;
}

#SongsScreen #SongButtonContainer #SongButtons .SongsScreenButton.active {
	opacity: .3;
}



$SongScreenLargeIconSize : 116px;


#SongsScreen #SongButtons .SongsScreenButton #Boomerang #Icon{
	@include centeredAbsoluteTransform(70%, auto);
	min-height: $SongScreenLargeIconSize;
	min-width: $SongScreenLargeIconSize;
}


#SongsScreen #SongButtons .SongsScreenButton #Boomerang #Name{
	position: absolute;
	top : 50%;
	margin-top: 65%;
	font-family: $font-family;
	color: black;
	width: 100%;
	text-align: center;
	@include mediumSmallFont;
}

#SongsScreen #SongButtons .SongsScreenButton #Boomerang #Name:after{
	position: absolute;
	content: "";
	top: 100%;
	left: 0px;
	width: 100%;
	text-align: center;
	@include tinyFont;
	color: $seafoam;
}

#SongsScreen #SongButtons .SongsScreenButton.locked #Boomerang #Name:after{
	content: "[locked]";
}

#SongsScreen #SongButtons .SongsScreenButton.solved #Boomerang #Name:after{
	content: "completed!";
}

#SongsScreen #SongButtons .SongsScreenButton.solved.perfect #Boomerang #Name:after{
	content: "perfect!";
}

#SongsScreen #SongButtons .SongsScreenButton #Boomerang #Text{
	@include centeredAbsoluteTransform(70%, auto);
	min-height: 80px;
	text-align: center;
	color: $white;
	@include biggestFont;
}

#SongsScreen #SongButtons .SongsScreenButton.playable #Boomerang #Text:after{
	display: block;
	content: "parts completed";
	top: 100%;
	margin-top: 0px;
	color: $white;
	@include mediumSmallFont;
}



#SongsScreen #SongButtons .SongsScreenButton.locked #Boomerang #Icon{
	background : url("../assets/images/icons/large_lock_white.png");
	background-size: 80% auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100%;
}

$SongsScreenBoomerangWidth : 214px;
$SongsScreenBoomerangHeight : 262px;

@each $color in $colorStrings {
	#SongsScreen #SongButtonContainer .SongsScreenButton.#{$color} #Boomerang{
		/*background-color: colorStringToValue($color);*/
		background : url("../assets/images/songs/#{$color}.png");
		@include centeredAbsoluteTransform(100%, 100%);
		background-size: 100% auto;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 100%;
		min-width: 214px;
		max-width: 525px;
		cursor: pointer;
	}
}

