#SplashScreen {
	background-color: $screenBackground;
	color:$white;
	font-size: 7px;
	text-align: center;
	font-family: sans-serif;
}

#SplashScreen .Button {
	background-color: $offBlack;
	width: 100%;
	display: table;
	border-top-color: #000;
	border-top-style: inset;
	border-top-width: 1px;
	border-radius: 0px;
	position: absolute;
	top: 50%;
}

#SplashScreen .ButtonTextContainer {
	display: table-cell;
	margin-top: 0px;
	padding: 0px 2px;
	line-height: 25px;
}

#SplashScreen .Button:active {
	color: $black;
	background-color: $white;
}

#SplashScreen #gridBubbleDiv {
	position: absolute;
	vertical-align: middle;
	width: 100%;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -80px;
}

#SplashScreen #versionDiv {
	-webkit-user-select: text;
	font-size: 10px;
	position: absolute;
	bottom: 35px;
	width: 100%;
}