#SplashScreen {
	background-color: $screenBackground;
	color:$white;
	font-size: 25px;
	text-align: center;
}

#SplashScreen .Button {
	background-color: $blue;
}

#SplashScreen .Button:active {
	color: $black;
	background-color: $white;
}

#SplashScreen #gridBubbleDiv {
	position: absolute;
	vertical-align: middle;
	width: 640px;
	height: 510px;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -280px;
}