#TopNav {
	@include respond-to(iphone4) {
		height: 40px;
	}
	@include respond-to(iphone5) {
		height: 51px;
	}
	color: $black;
	width: 100%;
	background-color: transparent;
}

#TopNav #Title {
	width: 100%;
	@include respond-to(iphone4) {
		margin-top: 3px;
	}
	@include respond-to(iphone5) {
		margin-top: 9px;
	}
	@include topLeft;
	text-align: center;
	@include mediumFont;
	z-index: 0;
}

#TopNav .ButtonContainer {
	@include topLeft;
	z-index: 1;
}