#TopNav {
	height: 51px;
	color: $black;
	width: 100%;
	background-color: transparent;
	border-bottom: 1px solid rgb(151, 0, 0);
}

#TopNav #Title {
	width: 100%;
	margin-top: 9px;
	@include topLeft;
	text-align: center;
	@include mediumFont;
	z-index: 0;
}

#TopNav .ButtonContainer {
	@include topLeft;
	z-index: 1;
}