$TopNavSmallHeight: 42px;
$TopNavMediumHeight: 55px;
$TopNavLargeHeight: 80px;

#TopNav {
	display: table;
	color: $black;
	width: 100%;
	background-color: transparent;
	@include respond-to(small){
		height: $TopNavSmallHeight;
	}
	@include respond-to(medium){
		height: $TopNavMediumHeight;
	}
	@include respond-to(large){
		height: $TopNavLargeHeight;
	}
}

#TopNav #Title {
	position: relative;
	width: 100%;
	height: auto;
	display: table-cell;
	text-align: center;
	@include mediumFont;
	@include respond-to(small){
		line-height: $TopNavSmallHeight;
	}
	@include respond-to(medium){
		line-height: $TopNavMediumHeight;
	}
	@include respond-to(large){
		line-height: $TopNavLargeHeight;
	}
	z-index: 1;
}

.ButtonContainer {
	/*@include topLeft;*/

	z-index: 2;
}


.BackButton {
	position: absolute;
	left: 0px;
	top: 0px;	
	text-align: center;
	cursor: pointer;
	z-index: 10006;
	color: $black;
	@include respond-to(small){
		height: $TopNavSmallHeight;
		width: $TopNavSmallHeight;
		font-size: $TopNavSmallHeight;
	}
	@include respond-to(medium){
		height: $TopNavMediumHeight;
		width: $TopNavMediumHeight;
		font-size: $TopNavMediumHeight;
	}
	@include respond-to(large){
		height: $TopNavLargeHeight;
		width: $TopNavLargeHeight;
		font-size: $TopNavLargeHeight;
	}
}

.MenuButton {
	position: absolute;
	right: 10px;
	top: 5px;	
	text-align: center;
	cursor: pointer;
	z-index: 10006;
	color: $black;
	@include respond-to(small){
		height: $TopNavSmallHeight;
		width: $TopNavSmallHeight;
		font-size: $TopNavSmallHeight;
	}
	@include respond-to(medium){
		height: $TopNavMediumHeight;
		width: $TopNavMediumHeight;
		font-size: $TopNavMediumHeight;
	}
	@include respond-to(large){
		height: $TopNavLargeHeight;
		width: $TopNavLargeHeight;
		font-size: $TopNavLargeHeight;
	}
}

.BackButton.active {
	color: $white;
}
