{
    // Every config must have an id, and it
    // should be unique among the configs being
    // served at any one time.
    // (You'll see why later!)
    "id": "GRID",
 
    // Input files to be compiled...
    // ...the file and its dependencies will be
    // compiled, so you don't need to manually
    // include the dependencies.
    "inputs": "../../source/grid.js",
 
    // Files or directories where the inputs'
    // dependencies can be found ("." if everything
    // is in the current directory)...
    // ...note that the Google Closure Library and
    // Templates are bundled with plovr, so you
    // don't need to point it to them!
    "paths": ["../../source", "../../tests"],

    "closure-library" : "../../source/dependencies/closure-library/closure/goog/",

    "output-file" : "../../build/grid.min.js",

    "checks": {
        "checkRegExp": "ERROR",
        "checkTypes": "WARNING",
        "checkVars": "WARNING",
        "deprecated": "ERROR",
        "const" : "ERROR",
        "accessControls" : "WARNING",
        "fileoverviewTags": "WARNING",
        "invalidCasts": "ERROR",
        "missingProperties": "ERROR",
        "nonStandardJsDocs": "ERROR",
        "undefinedVars": "ERROR",
        "externsValidation" : "OFF",
        "globalThis" : "WARNING"
    },

    "externs": [
        "../externs/window.js",
        "../externs/underscore.js"
    ],

    "test-excludes" : "../../source/dependencies/closure-library/"
}