<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tonenotone.echo" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Reflects</name>
    <description>Music Based Puzzler from TONEnoTONE</description>
    <author email="chris@bmuse.com" href="http://tonenotone.com">TONEnoTONE</author>
    
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    
    <content src="index.html" />
    <access origin="*" />
    <gap:platform name="ios" />

</widget>
